<form [formGroup]="form" (ngSubmit)="submit()">
    <div class="form-group label-floating is-select">
        <label class="control-label">Type d'évènement</label>
        <select class="form-select" formControlName="scopeVisibilityAction">
            <option value="private">Evenement Privé</option>
            <option value="public">Evenement Public</option>
            <option value="personnal">Evenement Personnel</option>
        </select>
    </div>

    <div class="form-group label-floating is-select">
        <label class="control-label">Catégorie d'évènement</label>
        <select class="form-select" formControlName="eventType">
            <option value="vote_event">Vote en ligne</option>
        </select>
    </div>
    
    <div class="form-group label-floating">
        <label class="control-label">Nom de l'évènement</label>
        <input class="form-control" formControlName="name" placeholder="..." value="" type="text">
    </div>
    
    <div class="form-group label-floating is-empty">
        <label class="control-label">Lieu de l'évènement</label>
        <input class="form-control" formControlName="place" placeholder="..." value="" type="text">
    </div>
    
    <div class="form-group date-time-picker label-floating">
        <label class="control-label">Date de début</label>
        <input name="datetimepicker" formControlName="startDate" value="15/03/2022">
        <span class="input-group-addon">
            <svg class="olymp-calendar-icon icon">
                <use xlink:href="#olymp-calendar-icon"></use>
            </svg>
        </span>
    </div>
    
    <div class="row">
        <div class="col col-lg-6 col-md-6 col-sm-12 col-12">
            <div class="form-group label-floating">
                <label class="control-label">Heure</label>
                <input class="form-control" formControlName="startTime"  placeholder="" value="09:00" type="time">
            </div>
        </div>
 
        <div class="col col-lg-6 col-md-6 col-sm-12 col-12">
            <div class="form-group label-floating is-select">
                <label class="control-label">Timezone</label>
                <select class="form-select">
                    <option value="MA">CM (UTC+1)</option>
                </select>
            </div>
        </div>
    
    </div>
    
    
    <div class="form-group date-time-picker label-floating">
        <label class="control-label">Date de fin</label>
        <input name="datetimepicker" formControlName="endDate" type="text">
        <span class="input-group-addon">
            <svg class="olymp-calendar-icon icon">
                <use xlink:href="#olymp-calendar-icon"></use>
            </svg>
        </span>
    </div>
    
    <div class="row">
        <div class="col col-lg-6 col-md-6 col-sm-12 col-12">
            <div class="form-group label-floating">
                <label class="control-label">Heure</label>
                <input formControlName="endTime" class="form-control" placeholder="" value="09:00" type="time">
            </div>
        </div>
        <div class="col col-lg-6 col-md-6 col-sm-12 col-12">
            <div class="form-group label-floating is-select">
                <label class="control-label">Timezone</label>
                <select class="form-select">
                    <option value="MA">CM (UTC+1)</option>
                </select>
            </div>
        </div>
    
    </div>
    
    <div class="form-group">
        <label class="control-label">Description de l'évènement</label>
        <textarea class="form-control" formControlName="description"
            placeholder="Description">Ajouter la description de votre évènement.</textarea>
    </div>
    
    <div class="form-group">
        <label class="control-label">Restriction</label>
        <svg class="olymp-happy-face-icon">
            <use xlink:href="#olymp-happy-face-icon"></use>
        </svg>
    
        <select class="form-select" formControlName="selectedGroupVisibilityAction" >
            <option value="open">Ouvert</option>
    
            <option value="udm">UdM</option>
    
            <option value="istec">ISTEC</option>
    
            <option title="mairie">Mairie</option>
    
        </select>
    </div>
    
    <button type="submit" id="btn_submit" class="btn btn-breez btn-lg full-width">Créer l'évènement</button>
</form>