<div class="header-spacer header-spacer-small"></div>
<app-header-page></app-header-page>
<div class="container">
	<div class="row">
		<div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
			<div class="ui-block responsive-flex">
				<div class="ui-block-title">
					<ul class="nav nav-tabs calendar-events-tabs" id="calendar-events-tabs" role="tablist">
						<li class="nav-item" role="presentation">
							<a class="nav-link active" id="events-tab" data-bs-toggle="tab" href="#events" role="tab"
								aria-controls="home" aria-selected="true">
								Calendrier
							</a>
						</li>

						<li class="nav-item" role="presentation" *ngIf="eventList.length==0">
							<a class="nav-link" id="notifications-tab" data-bs-toggle="tab" href="#notifications"
								role="tab" aria-controls="home" aria-selected="false">
								Évènements
							</a>
						</li>

						<li class="nav-item" role="presentation" *ngIf="eventList.length!=0">
							<a class="nav-link" id="notifications-tab" data-bs-toggle="tab" href="#notifications"
								role="tab" aria-controls="home" aria-selected="false">
								Évènements <span class="items-round-little bg-breez">{{eventList.length}}</span>
							</a>
						</li>

					</ul>

				</div>
			</div>
		</div>
	</div>
</div>

<!-- Tab panes -->
<div class="tab-content" id="calendar-events-tabs-content">
	<div class="tab-pane fade show active" id="events" role="tabpanel" aria-labelledby="events-tab">
		<div class="container">
			<div class="row">
				<div class="col col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
					<div class="ui-block">
						<app-today-event-breadcrumb (selectEvent)="selectEvent($event)"></app-today-event-breadcrumb>		

					</div>
				</div>
				<div class="col col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12">
					<div class="ui-block">
						<app-calendar-interact-widget (selectEvent)="selectEvent($event)"></app-calendar-interact-widget>
					</div>

				</div>
			</div>
		</div>
	</div>

	<div class="tab-pane fade" id="notifications" role="tabpanel" aria-labelledby="notifications-tab">
		<div class="container">
			<div class="row">
				<div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
					<div class="ui-block">
						<div class="container">
							<div class="row justify-content-center" *ngIf="hasLoadEventList==false">
								<div class="col col-sm-4" style="margin-top: 20px;">
									<span class="fs-6" >Chargement de la liste de vos évènement...</span>
								</div>
							</div>
							<div class="row" *ngIf="hasLoadEventList==false" >
								<app-progress-indeterminate></app-progress-indeterminate>
							</div>
							<div class="row justify-content-center" *ngIf="hasLoadEventList==true && eventList.length==0" >
								<div class="col col-sm-4" style="margin-top: 20px;">
									<span class="fs-6" >Aucune donnée trouvé</span>
								</div>
							</div>
						</div>

						<table *ngIf="hasLoadEventList==true" class="event-item-table event-item-table-fixed-width">

							<thead>

								<tr>

									<th class="author">
										ÉVÈNEMENTS
									</th>

									<th class="location">
										LIEUX
									</th>

									<th class="upcoming">
										DATES
									</th>

									<th class="description">
										DESCRIPTIONS
									</th>

									<th class="users">
										PARTICIPANTS
									</th>

									<th class="add-event">

									</th>
								</tr>

							</thead>

							<tbody>
								<tr class="event-item" *ngFor="let event of eventList">
									<td class="author">
										<div class="event-author inline-items">
											<div class="author-thumb">
												<img loading="lazy" [src]="event.user.photoUrl"
													width="34" height="34" alt="author">
											</div>
											<div class="author-date">
												<a class="author-name h6">{{event.event.name}}</a>
												<br> Par <a>{{event.user.getPrintableName()}}</a>
											</div>
										</div>
									</td>
									<td class="location">
										<div class="place inline-items">
											<svg class="olymp-add-a-place-icon">
												<use xlink:href="#olymp-add-a-place-icon"></use>
											</svg>
											<span>{{event.event.place}}</span>
										</div>
									</td>
									<td class="upcoming">
										<div class="date-event inline-items align-left">

											<span class="month mb-2"><b>Début:</b> {{getStringDate(event.event.startDate,event.event.startTime)}}</span> <br>
											<span class="month "><b>Fin:</b> {{getStringDate(event.event.endDate,event.event.endTime)}}</span>

										</div>
									</td>
									<td class="description">
										<p class="description">
											{{event.event.description}}
										</p>
									</td>
									<td class="users">
										<ul class="friends-harmonic">
											<li>
												<a>
													<img loading="lazy" src="./../../../assets/img/img/user.jpeg"
														alt="friend" width="28" height="28">
												</a>
											</li>
											<li>
												<a>
													<img loading="lazy" src="./../../../assets/img/img/user.jpeg"
														alt="friend" width="28" height="28">
												</a>
											</li>
											<li>
												<a>
													<img loading="lazy" src="./../../../assets/img/img/user.jpeg"
														alt="friend" width="28" height="28">
												</a>
											</li>
											
											<li>
												<a class="all-users bg-breez">
												<span *ngIf="event.event.getSpecialActionNumber()!=0">+</span>
												{{event.event.getSpecialActionNumber()}}</a>
											</li>
										</ul>
									</td>
									<td class="add-event">
										<a class="btn btn-sm btn-border-think custom-color c-grey" (click)="selectEvent(event.event.id.toString())">Détails</a>
										<a [routerLink]="['/page/ellection/',event.event.id.toString()]" class="btn btn-breez btn-sm" *ngIf="event.event.eventType=='vote_event'" >Passer au vote</a>
										<a class="btn btn-breez btn-sm" *ngIf="event.event.eventType!='vote_event'">Acheter le billet</a>
									</td>
								</tr>

								<tr class="event-item">
									<td class="author">
										<div class="event-author inline-items">
											<div class="author-thumb">
												<img loading="lazy" src="./../../../assets/img/img/MEUdM.jpeg"
													width="34" height="34" alt="author">
											</div>
											<div class="author-date">
												<a class="author-name h6">Bal UdM</a>
												<br> Par <a>Mutuelle UdM</a>
											</div>
										</div>
									</td>
									<td class="location">
										<div class="place inline-items">
											<svg class="olymp-add-a-place-icon">
												<use xlink:href="#olymp-add-a-place-icon"></use>
											</svg>
											<span>RDPC, Bangangté</span>
										</div>
									</td>
									<td class="upcoming">
										<div class="date-event inline-items align-left">

											<span class="month"><b>Début:</b> 26 Fév 2022 à 19:00</span> <br>
											<span class="month"><b>Fin:</b> 27 Fév 2022 à 19:00</span>

										</div>
									</td>
									<td class="description">
										<p class="description">
											La toute première édition de l'évènement.
											<br> Venez assiter à la rencontre des anciens étudiants de l'université des
											montagnes qui se tiendra dans quelque jours.
											<br> On reconnait l'arbre à ses fruits.
											<br>Nous vibrons à l'unisson.
										</p>
									</td>
									<td class="users">
										<ul class="friends-harmonic">
											<li>
												<a>
													<img loading="lazy" src="./../../../assets/img/img/user.jpeg"
														alt="friend" width="28" height="28">
												</a>
											</li>
											<li>
												<a>
													<img loading="lazy" src="./../../../assets/img/img/user.jpeg"
														alt="friend" width="28" height="28">
												</a>
											</li>
											<li>
												<a>
													<img loading="lazy" src="./../../../assets/img/img/user.jpeg"
														alt="friend" width="28" height="28">
												</a>
											</li>
											<li>
												<a>
													<img loading="lazy" src="./../../../assets/img/img/user.jpeg"
														alt="friend" width="28" height="28">
												</a>
											</li>
											<li>
												<a>
													<img loading="lazy" src="./../../../assets/img/img/user.jpeg"
														alt="friend" width="28" height="28">
												</a>
											</li>
											<li>
												<a class="all-users bg-breez">+64</a>
											</li>
										</ul>
									</td>
									<td class="add-event">
										<a class="btn btn-sm btn-border-think custom-color c-grey"
											data-bs-toggle="modal" data-bs-target="#bal-udm">Détails</a>
										<a href="20-CalendarAndEvents-MonthlyCalendar.html"
											class="btn btn-breez btn-sm">Acheter le billet</a>
									</td>
								</tr>
								<!-- <tr class="event-item">
									<td class="author">
										<div class="event-author inline-items">
											<div class="author-thumb">
												<img loading="lazy" src="./../../../assets/img/img/MEUdM.jpeg"
													width="34" height="34" alt="author">
											</div>
											<div class="author-date">
												<a class="author-name h6">Miss & Mister UdM</a>
												<br> Par <a>Mutuelle UdM</a>
											</div>
										</div>
									</td>
									<td class="location">
										<div class="place inline-items">
											<svg class="olymp-add-a-place-icon">
												<use xlink:href="#olymp-add-a-place-icon"></use>
											</svg>
											<span>RDPC, Bangangté</span>
										</div>
									</td>
									<td class="upcoming">
										<div class="date-event inline-items align-left">
											<svg class="olymp-small-calendar-icon">
												<use xlink:href="#olymp-small-calendar-icon"></use>
											</svg>

											<span class="month"><b>Début:</b> 05 Fév 2022 à 19:00</span> <br>
											<span class="month"><b>Fin:</b> 05 Fév 2022 à 19:00</span>

										</div>
									</td>
									<td class="description">
										<p class="description">
											La beauté et l'élégance UdMoise misent en valeur.
											<br> Venez faire votre choix.
										</p>
									</td>
									<td class="users">
										<ul class="friends-harmonic">
											<li>
												<a>
													<img loading="lazy" src="./../../../assets/img/img/user.jpeg"
														alt="friend" width="28" height="28">
												</a>
											</li>
											<li>
												<a>
													<img loading="lazy" src="./../../../assets/img/img/user.jpeg"
														alt="friend" width="28" height="28">
												</a>
											</li>
											<li>
												<a>
													<img loading="lazy" src="./../../../assets/img/img/user.jpeg"
														alt="friend" width="28" height="28">
												</a>
											</li>
											<li>
												<a>
													<img loading="lazy" src="./../../../assets/img/img/user.jpeg"
														alt="friend" width="28" height="28">
												</a>
											</li>
											<li>
												<a>
													<img loading="lazy" src="./../../../assets/img/img/user.jpeg"
														alt="friend" width="28" height="28">
												</a>
											</li>
											<li>
												<a class="all-users bg-breez">+128</a>
											</li>
										</ul>
									</td>
									<td class="add-event">
										<a class="btn btn-sm btn-border-think custom-color c-grey"
											data-bs-toggle="modal" data-bs-target="#miss-mister">Détails</a>
											<a (click)="navigateToEllection()" class="btn btn-breez btn-sm">Passer au vote</a>
									</td>
								</tr> -->
								<tr class="event-item">
									<td class="author">
										<div class="event-author inline-items">
											<div class="author-thumb">
												<img loading="lazy" src="./../../../assets/img/img/oneH.png"
													alt="author" width="34" height="34">
											</div>
											<div class="author-date">
												<a class="author-name h6">UdM One Heart </a>
												<br> Par <a> UdM</a>
											</div>
										</div>
									</td>
									<td class="location">
										<div class="place inline-items">
											<svg class="olymp-add-a-place-icon">
												<use xlink:href="#olymp-add-a-place-icon"></use>
											</svg>
											<span>Daydreamz Agency</span>
										</div>
									</td>
									<td class="upcoming">
										<div class="date-event inline-items align-left">
											<svg class="olymp-small-calendar-icon">
												<use xlink:href="#olymp-small-calendar-icon"></use>
											</svg>

											<span class="month"><b>Début:</b> 12 Fév 2022 à 19:00</span> <br>
											<span class="month"><b>Fin:</b> 13 Fév 2022 à 19:00</span>

										</div>
									</td>
									<td class="description">
										<p class="description">
											La toute première édition de l'évènement.
											<br> Venez assiter à la rencontre des anciens étudiants de l'université des
											montagnes qui se tiendra dans quelque jours.
											<br> On reconnait l'arbre à ses fruits. Nous vibrons à l'unisson.
										</p>
									</td>
									<td class="users">
										<ul class="friends-harmonic">
											<li>
												<a>
													<img loading="lazy" src="./../../../assets/img/img/user.jpeg"
														alt="friend" width="28" height="28">
												</a>
											</li>
											<li>
												<a>
													<img loading="lazy" src="./../../../assets/img/img/user.jpeg"
														alt="friend" width="28" height="28">
												</a>
											</li>
											<li>
												<a>
													<img loading="lazy" src="./../../../assets/img/img/user.jpeg"
														alt="friend" width="28" height="28">
												</a>
											</li>
											<li>
												<a>
													<img loading="lazy" src="./../../../assets/img/img/user.jpeg"
														alt="friend" width="28" height="28">
												</a>
											</li>
											<li>
												<a>
													<img loading="lazy" src="./../../../assets/img/img/user.jpeg"
														alt="friend" width="28" height="28">
												</a>
											</li>
											<li>
												<a class="all-users bg-breez">+105</a>
											</li>
										</ul>
									</td>
									<td class="add-event">
										<a class="btn btn-sm btn-border-think custom-color c-grey"
										data-bs-toggle="modal" data-bs-target="#one-heart" class="btn btn-sm btn-border-think custom-color c-grey">Détails</a>
											<a
												class="btn btn-breez btn-sm">Contacter l'organisateur</a>
									</td>
								</tr>
							</tbody>
						</table>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<app-show-modal-details-event [hasLoadDetailEvent]="hasLoadDetailEvent" [owner]="selectedUserCreator" [event]="selectedEvent"></app-show-modal-details-event>

<!-- ... end Window-popup Event Public -->

<!-- Window-popup Event Private Public -->


<!-- Window-popup Create Event -->

<div class="modal fade" id="create-event" tabindex="-1" role="dialog" aria-labelledby="create-event" aria-hidden="true">
	<div class="modal-dialog window-popup create-event" role="document">
		<div class="modal-content">
			<a class="close icon-close" id="event-form-closed"  data-bs-dismiss="modal" aria-label="Close">
				<svg class="olymp-close-icon">
					<use xlink:href="#olymp-close-icon"></use>
				</svg>
			</a>
			<div class="modal-header">
				<h6 class="title">Créer un évènement</h6>
			</div>

			<div class="modal-body">
				<app-form-new-event (submitSuccessCreatedEvent)="closeCreateEventForm()"></app-form-new-event>

			</div>
		</div>
	</div>
</div>
<!-- ... end Window-popup Create Event -->

<div class="modal fade" id="one-heart" tabindex="-1" role="dialog" aria-labelledby="create-event" aria-hidden="true">
	<div class="modal-dialog window-popup create-event" role="document">
		<div class="modal-content">
			<a class="close icon-close" data-bs-dismiss="modal" aria-label="Close">
				<svg class="olymp-close-icon">
					<use xlink:href="#olymp-close-icon"></use>
				</svg>
			</a>

			<div class="modal-body">
				<article class="hentry post has-post-thumbnail thumb-full-width private-event">

					<div class="private-event-head inline-items">
						<!-- <img loading="lazy" src="./../../../assets/img/img/oneH.png" alt="author"
							width="40" height="40"> -->

						<div class="author-date">
							<a class="h3 event-title">UdM One Heart 1er édition</a>
							<div class="event__date">
								<time class="published" datetime="2017-03-24T18:18">
									du 12 au Fév à 15:00
								</time>
							</div>
						</div>

						<div class="more">
							<svg class="olymp-three-dots-icon">
								<use xlink:href="#olymp-three-dots-icon"></use>
							</svg>
							<ul class="more-dropdown">
								<!-- <li>
									<a >Edit Event Settings</a>
								</li>
								<li>
									<a >Mark as Completed</a>
								</li>
								<li>
									<a >Delete Event</a>
								</li> -->
							</ul>
						</div>
					</div>

					<div class="post-thumb">
						<img loading="lazy" src="https://firebasestorage.googleapis.com/v0/b/reseau-des-montagnes-f9a68.appspot.com/o/static%20files%2FflyerUdmOneHeart.webp?alt=media&token=8b3d5ee1-ae13-4cc8-a1d2-76d7bb49183e" alt="photo" width="769"
							height="380">
					</div>

					<div class="row">
						<div class="col col-lg-7 col-md-7 col-sm-12 col-12">
							<div class="post__author author vcard inline-items">
								<img loading="lazy" src="./../../../assets/img/img/oneH.png" alt="author" width="42"
									height="42">

								<div class="author-date">
									<a class="h6 post__author-name fn">UdM One Heart</a>
									<div class="post__date">
										<time class="published" datetime="2017-03-24T18:18">
											05 Fév à 20:00
										</time>
									</div>
								</div>

							</div>

							<p style="text-align: justify;">Le week-end prochain sera l'un des week-ends les plus marquants de notre année 2022😊.
								<br> Rendez-vous samedi prochain, pour un voyage dans le temps et à travers le temps. Nous allons : 
								<br> ▪️nous remémorer les bons moments passés à l'UdM (passé), 
								<br> ▪️vivre d'autres moments inoubliables (présent)
								<br> ▪️et construire l'avenir, en discutant de projets concrets à réaliser ensemble (futur).
								<br> Si tu ne t'es pas encore inscrit pour participer à la première édition de l'UdM One Heart, il ne se fait pas trop tard. Clique sur le lien 👇 
								<br> https://forms.gle/3SHz5fPbkEi8XU8s8
								<br> Contacts : 697 462 386 / 675 885 250
								<br> 𝗨𝗱𝗠 𝗢𝗻𝗲 𝗛𝗲𝗮𝗿𝘁 (1ère édition)
								<br> « 𝘕𝘰𝘶𝘴 𝘷𝘪𝘣𝘳𝘰𝘯𝘴 𝘢̀ 𝘭'𝘶𝘯𝘪𝘴𝘴𝘰𝘯 »
							</p>
						</div>
						<div class="col col-lg-5 col-md-5 col-sm-12 col-12">
							<div class="event-description">
								<h6 class="event-description-title">Évènement publique</h6>
								<div class="place inline-items">
									<svg class="olymp-add-a-place-icon">
										<use xlink:href="#olymp-add-a-place-icon"></use>
									</svg>
									<span>Bangangté, Bangou</span>
								</div>

								<!-- <div class="place inline-items">
									<svg class="olymp-add-a-place-icon">
										<use xlink:href="#olymp-add-a-place-icon"></use>
									</svg>
									<span>Mar 26, 2016 at 9:00am UTC-8</span>
								</div> -->

								<ul class="friends-harmonic">
									<li>
										<a>
											<img loading="lazy" src="./../../../assets/img/img/user.jpeg" alt="friend"
												width="28" height="28">
										</a>
									</li>
									<li>
										<a>
											<img loading="lazy" src="./../../../assets/img/img/user.jpeg" alt="friend"
												width="28" height="28">
										</a>
									</li>
									<li>
										<a>
											<img loading="lazy" src="./../../../assets/img/img/user.jpeg" alt="friend"
												width="28" height="28">
										</a>
									</li>
									<li>
										<a>
											<img loading="lazy" src="./../../../assets/img/img/user.jpeg" alt="friend"
												width="28" height="28">
										</a>
									</li>
									<li>
										<a>
											<img loading="lazy" src="./../../../assets/img/img/user.jpeg" alt="friend"
												width="28" height="28">
										</a>
									</li>
									<li>
										<a class="all-users bg-breez">+128</a>
									</li>

								</ul>

								<a class="btn btn-breez btn-sm full-width">Participer</a>

								<a class="btn btn-blue btn-sm full-width">Contacter l'organisation</a>
							</div>
						</div>
					</div>


					<div class="post-additional-info inline-items">

						<a class="post-add-icon inline-items">
							<svg class="olymp-heart-icon">
								<use xlink:href="#olymp-heart-icon"></use>
							</svg>
							<span>17</span>
						</a>

						<!-- <ul class="friends-harmonic">
							<li>
								<a >
									<img loading="lazy" src="./../../../assets/img/img/user.jpeg" alt="friend" width="28" height="28">
								</a>
							</li>
							<li>
								<a >
									<img loading="lazy" src="./../../../assets/img/img/user.jpeg" alt="friend" width="28" height="28">
								</a>
							</li>
							<li>
								<a >
									<img loading="lazy" src="./../../../assets/img/img/user.jpeg" alt="friend" width="28" height="28">
								</a>
							</li>
							<li>
								<a >
									<img loading="lazy" src="./../../../assets/img/img/user.jpeg" alt="friend" width="28" height="28">
								</a>
							</li>
							<li>
								<a >
									<img loading="lazy" src="./../../../assets/img/img/user.jpeg" alt="friend" width="28" height="28">
								</a>
							</li>
						</ul> -->

						<div class="names-people-likes">
							<a>UdM </a>, <a>Mutuelle UdM</a> et
							<br>15 autre personnes ont aimées.
						</div>


						<div class="comments-shared">
							<a class="post-add-icon inline-items">
								<svg class="olymp-speech-balloon-icon">
									<use xlink:href="#olymp-speech-balloon-icon"></use>
								</svg>
								<span>34 Commentaires</span>
							</a>
						</div>


					</div>

					<div class="control-block-button post-control-button">

						<a class="btn btn-control">
							<svg class="olymp-like-post-icon">
								<use xlink:href="#olymp-like-post-icon"></use>
							</svg>
						</a>

						<a class="btn btn-control">
							<svg class="olymp-comments-post-icon">
								<use xlink:href="#olymp-comments-post-icon"></use>
							</svg>
						</a>

						<a class="btn btn-control">
							<svg class="olymp-share-icon">
								<use xlink:href="#olymp-share-icon"></use>
							</svg>
						</a>

					</div>

				</article>


				<!-- Commentaires -->
				<!-- <div class="mCustomScrollbar" data-mcs-theme="dark">

					<ul class="comments-list">
						<li class="comment-item">
							<div class="post__author author vcard inline-items">
								<img loading="lazy" src="img/author-page.webp" width="36" height="36" alt="author">

								<div class="author-date">
									<a class="h6 post__author-name fn" href="02-ProfilePage.html">James Spiegel</a>
									<div class="post__date">
										<time class="published" datetime="2017-03-24T18:18">
											38 mins ago
										</time>
									</div>
								</div>

								<a  class="more">
									<svg class="olymp-three-dots-icon">
										<use xlink:href="#olymp-three-dots-icon"></use>
									</svg>
								</a>

							</div>

							<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium der doloremque laudantium.</p>

							<a  class="post-add-icon inline-items">
								<svg class="olymp-heart-icon">
									<use xlink:href="#olymp-heart-icon"></use>
								</svg>
								<span>3</span>
							</a>
							<a  class="reply">Reply</a>
						</li>
						<li class="comment-item">
							<div class="post__author author vcard inline-items">
								<img loading="lazy" src="./../../../assets/img/template/avatar/avatar1-sm.webp" alt="author" width="42" height="42">

								<div class="author-date">
									<a class="h6 post__author-name fn" >Mathilda Brinker</a>
									<div class="post__date">
										<time class="published" datetime="2017-03-24T18:18">
											1 hour ago
										</time>
									</div>
								</div>

								<a  class="more">
									<svg class="olymp-three-dots-icon">
										<use xlink:href="#olymp-three-dots-icon"></use>
									</svg>
								</a>

							</div>

							<p>Ratione voluptatem sequi en lod nesciunt. Neque porro quisquam est, quinder dolorem ipsum
								quia dolor sit amet, consectetur adipisci velit en lorem ipsum duis aute irure dolor in reprehenderit in voluptate velit esse cillum.
							</p>

							<a  class="post-add-icon inline-items">
								<svg class="olymp-heart-icon">
									<use xlink:href="#olymp-heart-icon"></use>
								</svg>
								<span>8</span>
							</a>
							<a  class="reply">Reply</a>
						</li>
						<li class="comment-item">
							<div class="post__author author vcard inline-items">
								<img loading="lazy" src="./../../../assets/img/template/avatar/avatar10-sm.webp" alt="author" width="36" height="36">

								<div class="author-date">
									<a class="h6 post__author-name fn" >Elaine Dreyfuss</a>
									<div class="post__date">
										<time class="published" datetime="2017-03-24T18:18">
											5 mins ago
										</time>
									</div>
								</div>

								<a  class="more">
									<svg class="olymp-three-dots-icon">
										<use xlink:href="#olymp-three-dots-icon"></use>
									</svg>
								</a>

							</div>

							<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium der doloremque laudantium.</p>

							<a  class="post-add-icon inline-items">
								<svg class="olymp-heart-icon">
									<use xlink:href="#olymp-heart-icon"></use>
								</svg>
								<span>8</span>
							</a>
							<a  class="reply">Reply</a>
						</li>
					</ul>

				</div> -->

				<!-- <form class="comment-form inline-items">

					<div class="post__author author vcard inline-items">
						<img loading="lazy" src="img/author-page.webp" width="36" height="36" alt="author">

						<div class="form-group with-icon-right">
							<textarea class="form-control" placeholder=""></textarea>
							<div class="add-options-message">
								<a  class="options-message">
									<svg class="olymp-camera-icon">
										<use xlink:href="#olymp-camera-icon"></use>
									</svg>
								</a>
							</div>
						</div>
					</div>

				</form> -->
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="bal-udm" tabindex="-1" role="dialog" aria-labelledby="create-event" aria-hidden="true">
	<div class="modal-dialog window-popup create-event" role="document">
		<div class="modal-content">
			<a class="close icon-close" data-bs-dismiss="modal" aria-label="Close">
				<svg class="olymp-close-icon">
					<use xlink:href="#olymp-close-icon"></use>
				</svg>
			</a>

			<div class="modal-body">
				<article class="hentry post has-post-thumbnail thumb-full-width private-event">

					<div class="private-event-head inline-items">

						<div class="author-date">
							<a class="h3 event-title">Bal de l'UdM</a>
							<div class="event__date">
								<time class="published" datetime="2017-03-24T18:18">
									Samedi 26 Fév à 21:00
								</time>
							</div>
						</div>

						<div class="more">
							<svg class="olymp-three-dots-icon">
								<use xlink:href="#olymp-three-dots-icon"></use>
							</svg>
							<ul class="more-dropdown">
								<!-- <li>
									<a >Edit Event Settings</a>
								</li>
								<li>
									<a >Mark as Completed</a>
								</li>
								<li>
									<a >Delete Event</a>
								</li> -->
							</ul>
						</div>
					</div>

					<div class="post-thumb">
						<img loading="lazy" src="https://firebasestorage.googleapis.com/v0/b/reseau-des-montagnes-f9a68.appspot.com/o/static%20files%2FFlyerBal.webp?alt=media&token=082aeaaa-b1e3-417a-b403-a00fb9ad9cb8" alt="photo" width="769"
							height="380">
					</div>

					<div class="row">
						<div class="col col-lg-7 col-md-7 col-sm-12 col-12">
							<div class="post__author author vcard inline-items">
								<img loading="lazy" src="./../../../assets/img/img/MEUdM.jpeg" alt="author" width="42"
									height="42">

								<div class="author-date">
									<a class="h6 post__author-name fn">Mutuelle UdM</a>
									<div class="post__date">
										<time class="published" datetime="2017-03-24T18:18">
											Samedi 05 Fév à 19:00
										</time>
									</div>
								</div>

							</div>

							<p>
								L'évènement de l'année à l'UdM. <br> Le Bal organisé par le mutuelle des étudiants de
								l'université des montagnes pour l'année accadémique 2020-2021 dans le cadre du
								divertissement avec de nombreses activité.
								<br><br> Ne manquez pas!
							</p>
						</div>
						<div class="col col-lg-5 col-md-5 col-sm-12 col-12">
							<div class="event-description">
								<h6 class="event-description-title">Évènement publique</h6>
								<div class="place inline-items">
									<svg class="olymp-add-a-place-icon">
										<use xlink:href="#olymp-add-a-place-icon"></use>
									</svg>
									<span>RDPC, Bangangté</span>
								</div>

								<!-- <div class="place inline-items">
									<svg class="olymp-add-a-place-icon">
										<use xlink:href="#olymp-add-a-place-icon"></use>
									</svg>
									<span>Mar 26, 2016 at 9:00am UTC-8</span>
								</div> -->

								<ul class="friends-harmonic">
									<li>
										<a>
											<img loading="lazy" src="./../../../assets/img/img/user.jpeg" alt="friend"
												width="28" height="28">
										</a>
									</li>
									<li>
										<a>
											<img loading="lazy" src="./../../../assets/img/img/user.jpeg" alt="friend"
												width="28" height="28">
										</a>
									</li>
									<li>
										<a>
											<img loading="lazy" src="./../../../assets/img/img/user.jpeg" alt="friend"
												width="28" height="28">
										</a>
									</li>
									<li>
										<a>
											<img loading="lazy" src="./../../../assets/img/img/user.jpeg" alt="friend"
												width="28" height="28">
										</a>
									</li>
									<li>
										<a>
											<img loading="lazy" src="./../../../assets/img/img/user.jpeg" alt="friend"
												width="28" height="28">
										</a>
									</li>
									<li>
										<a class="all-users bg-breez">+64</a>
									</li>
								</ul>

								<a class="btn btn-blue btn-sm full-width">Acheter un billet</a>

								<a class="btn btn-breez btn-sm full-width">Contacter l'organisation</a>
							</div>
						</div>
					</div>


					<div class="post-additional-info inline-items">

						<a class="post-add-icon inline-items">
							<svg class="olymp-heart-icon">
								<use xlink:href="#olymp-heart-icon"></use>
							</svg>
							<span>17</span>
						</a>

						<!-- <ul class="friends-harmonic">
							<li>
								<a >
									<img loading="lazy" src="./../../../assets/img/img/user.jpeg" alt="friend" width="28" height="28">
								</a>
							</li>
							<li>
								<a >
									<img loading="lazy" src="./../../../assets/img/img/user.jpeg" alt="friend" width="28" height="28">
								</a>
							</li>
							<li>
								<a >
									<img loading="lazy" src="./../../../assets/img/img/user.jpeg" alt="friend" width="28" height="28">
								</a>
							</li>
							<li>
								<a >
									<img loading="lazy" src="./../../../assets/img/img/user.jpeg" alt="friend" width="28" height="28">
								</a>
							</li>
							<li>
								<a >
									<img loading="lazy" src="./../../../assets/img/img/user.jpeg" alt="friend" width="28" height="28">
								</a>
							</li>
						</ul> -->

						<div class="names-people-likes">
							<a>UdM </a>, <a>Mutuelle UdM</a> et
							<br>15 autre personnes ont aimées.
						</div>


						<div class="comments-shared">
							<a class="post-add-icon inline-items">
								<svg class="olymp-speech-balloon-icon">
									<use xlink:href="#olymp-speech-balloon-icon"></use>
								</svg>
								<span>16 Commentaires</span>
							</a>
						</div>


					</div>

					<div class="control-block-button post-control-button">

						<a class="btn btn-control">
							<svg class="olymp-like-post-icon">
								<use xlink:href="#olymp-like-post-icon"></use>
							</svg>
						</a>

						<a class="btn btn-control">
							<svg class="olymp-comments-post-icon">
								<use xlink:href="#olymp-comments-post-icon"></use>
							</svg>
						</a>

						<a class="btn btn-control">
							<svg class="olymp-share-icon">
								<use xlink:href="#olymp-share-icon"></use>
							</svg>
						</a>

					</div>

				</article>


				<!-- Commentaires -->
				<!-- <div class="mCustomScrollbar" data-mcs-theme="dark">

					<ul class="comments-list">
						<li class="comment-item">
							<div class="post__author author vcard inline-items">
								<img loading="lazy" src="img/author-page.webp" width="36" height="36" alt="author">

								<div class="author-date">
									<a class="h6 post__author-name fn" href="02-ProfilePage.html">James Spiegel</a>
									<div class="post__date">
										<time class="published" datetime="2017-03-24T18:18">
											38 mins ago
										</time>
									</div>
								</div>

								<a  class="more">
									<svg class="olymp-three-dots-icon">
										<use xlink:href="#olymp-three-dots-icon"></use>
									</svg>
								</a>

							</div>

							<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium der doloremque laudantium.</p>

							<a  class="post-add-icon inline-items">
								<svg class="olymp-heart-icon">
									<use xlink:href="#olymp-heart-icon"></use>
								</svg>
								<span>3</span>
							</a>
							<a  class="reply">Reply</a>
						</li>
						<li class="comment-item">
							<div class="post__author author vcard inline-items">
								<img loading="lazy" src="./../../../assets/img/template/avatar/avatar1-sm.webp" alt="author" width="42" height="42">

								<div class="author-date">
									<a class="h6 post__author-name fn" >Mathilda Brinker</a>
									<div class="post__date">
										<time class="published" datetime="2017-03-24T18:18">
											1 hour ago
										</time>
									</div>
								</div>

								<a  class="more">
									<svg class="olymp-three-dots-icon">
										<use xlink:href="#olymp-three-dots-icon"></use>
									</svg>
								</a>

							</div>

							<p>Ratione voluptatem sequi en lod nesciunt. Neque porro quisquam est, quinder dolorem ipsum
								quia dolor sit amet, consectetur adipisci velit en lorem ipsum duis aute irure dolor in reprehenderit in voluptate velit esse cillum.
							</p>

							<a  class="post-add-icon inline-items">
								<svg class="olymp-heart-icon">
									<use xlink:href="#olymp-heart-icon"></use>
								</svg>
								<span>8</span>
							</a>
							<a  class="reply">Reply</a>
						</li>
						<li class="comment-item">
							<div class="post__author author vcard inline-items">
								<img loading="lazy" src="./../../../assets/img/template/avatar/avatar10-sm.webp" alt="author" width="36" height="36">

								<div class="author-date">
									<a class="h6 post__author-name fn" >Elaine Dreyfuss</a>
									<div class="post__date">
										<time class="published" datetime="2017-03-24T18:18">
											5 mins ago
										</time>
									</div>
								</div>

								<a  class="more">
									<svg class="olymp-three-dots-icon">
										<use xlink:href="#olymp-three-dots-icon"></use>
									</svg>
								</a>

							</div>

							<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium der doloremque laudantium.</p>

							<a  class="post-add-icon inline-items">
								<svg class="olymp-heart-icon">
									<use xlink:href="#olymp-heart-icon"></use>
								</svg>
								<span>8</span>
							</a>
							<a  class="reply">Reply</a>
						</li>
					</ul>

				</div> -->

				<!-- <form class="comment-form inline-items">

					<div class="post__author author vcard inline-items">
						<img loading="lazy" src="img/author-page.webp" width="36" height="36" alt="author">

						<div class="form-group with-icon-right">
							<textarea class="form-control" placeholder=""></textarea>
							<div class="add-options-message">
								<a  class="options-message">
									<svg class="olymp-camera-icon">
										<use xlink:href="#olymp-camera-icon"></use>
									</svg>
								</a>
							</div>
						</div>
					</div>

				</form> -->
			</div>
		</div>
	</div>
</div>