<!-- Main Header Events -->

<div class="main-header">
	<div class="content-bg-wrap bg-events"></div>
	<div class="container">
		<div class="row">
			<div class="col col-lg-8 m-auto col-md-8 col-sm-12 col-12">
				<div class="main-header-content">
					<h1>Ya-Bi Events</h1>
					<p>Bienvenue dans votre assistant planificateur personnel. 
						Ici, vous verrez tous vos prochains événements publique et les invitations que vos amis vous ont envoyées. 
						Vous pouvez créer 3 types d'événements différents : personnels (pour vos courses quotidiennes), 
						privés (pour vous et vos amis uniquement) et publics (ouverts à tous). 
						Créez vos événements, invitez des amis et amusez-vous !</p>
				</div>
			</div>
		</div>
	</div>
	<img loading="lazy" class="img-bottom" src="./../../../assets/img/template/event-bottom.webp" alt="friends" width="1169" height="146">
</div>

<!-- ... end Main Header Events -->