<!-- Main Header Events -->

<div class="main-header">
	<div class="content-bg-wrap bg-events"></div>
	<div class="container">
		<div class="row">
			<div class="col col-lg-8 m-auto col-md-8 col-sm-12 col-12">
				<div class="main-header-content">
					<h1>Create and Manage Events</h1>
					<p>Welcome to your personal planner assistant. Here you’ll see all your next events and invites that your
						friends sent you. You can create 3 different types of events: Personal (for your daily errands), Private
						(for you and friends only) and Public (open to everyone). Create your events, invite friends and have fun!</p>
				</div>
			</div>
		</div>
	</div>
	<img loading="lazy" class="img-bottom" src="./../../../assets/img/template/event-bottom.webp" alt="friends" width="1169" height="146">
</div>

<!-- ... end Main Header Events -->