<div class="ui-block-title">
    <h6 class="title">Pages You May Like</h6>
    <a href="" class="more"><svg class="olymp-three-dots-icon"><use xlink:href="#olymp-three-dots-icon"></use></svg></a>
</div>

<!-- W-Friend-Pages-Added -->

<ul class="widget w-friend-pages-added notification-list friend-requests">
    <li class="inline-items">
        <div class="author-thumb">
            <img loading="lazy" src="./../../../assets/img/template/avatar/avatar41-sm.webp" alt="author" width="36" height="36">
        </div>
        <div class="notification-event">
            <a href="" class="h6 notification-friend">The Marina Bar</a>
            <span class="chat-message-item">Restaurant / Bar</span>
        </div>
        <span class="notification-icon" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-original-title="ADD TO YOUR FAVS">
            <a href="">
                <svg class="olymp-star-icon"><use xlink:href="#olymp-star-icon"></use></svg>
            </a>
        </span>

    </li>

    <li class="inline-items">
        <div class="author-thumb">
            <img loading="lazy" src="./../../../assets/img/template/avatar/avatar42-sm.webp" alt="author" width="36" height="36">
        </div>
        <div class="notification-event">
            <a href="" class="h6 notification-friend">Tapronus Rock</a>
            <span class="chat-message-item">Rock Band</span>
        </div>
        <span class="notification-icon" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-original-title="ADD TO YOUR FAVS">
            <a href="">
                <svg class="olymp-star-icon"><use xlink:href="#olymp-star-icon"></use></svg>
            </a>
        </span>

    </li>

    <li class="inline-items">
        <div class="author-thumb">
            <img loading="lazy" src="./../../../assets/img/template/avatar/avatar43-sm.webp" alt="author" width="36" height="36">
        </div>
        <div class="notification-event">
            <a href="" class="h6 notification-friend">Pixel Digital Design</a>
            <span class="chat-message-item">Company</span>
        </div>
        <span class="notification-icon" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-original-title="ADD TO YOUR FAVS">
            <a href="">
                <svg class="olymp-star-icon"><use xlink:href="#olymp-star-icon"></use></svg>
            </a>
        </span>
    </li>

    <li class="inline-items">
        <div class="author-thumb">
            <img loading="lazy" src="./../../../assets/img/template/avatar/avatar44-sm.webp" alt="author" width="36" height="36">
        </div>
        <div class="notification-event">
            <a href="" class="h6 notification-friend">Thompson’s Custom Clothing Boutique</a>
            <span class="chat-message-item">Clothing Store</span>
        </div>
        <span class="notification-icon" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-original-title="ADD TO YOUR FAVS">
            <a href="">
                <svg class="olymp-star-icon"><use xlink:href="#olymp-star-icon"></use></svg>
            </a>
        </span>

    </li>

    <li class="inline-items">
        <div class="author-thumb">
            <img loading="lazy" src="./../../../assets/img/template/avatar/avatar45-sm.webp" alt="author" width="36" height="36">
        </div>
        <div class="notification-event">
            <a href="" class="h6 notification-friend">Crimson Agency</a>
            <span class="chat-message-item">Company</span>
        </div>
        <span class="notification-icon" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-original-title="ADD TO YOUR FAVS">
            <a href="">
                <svg class="olymp-star-icon"><use xlink:href="#olymp-star-icon"></use></svg>
            </a>
        </span>
    </li>

    <li class="inline-items">
        <div class="author-thumb">
            <img loading="lazy" src="./../../../assets/img/template/avatar/avatar46-sm.webp" alt="author" width="38" height="38">
        </div>
        <div class="notification-event">
            <a href="" class="h6 notification-friend">Mannequin Angel</a>
            <span class="chat-message-item">Clothing Store</span>
        </div>
        <span class="notification-icon" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-original-title="ADD TO YOUR FAVS">
            <a href="">
                <svg class="olymp-star-icon"><use xlink:href="#olymp-star-icon"></use></svg>
            </a>
        </span>
    </li>
</ul>

<!-- .. end W-Friend-Pages-Added -->