<div class="ui-block-title">
    <h6 class="title">Pages que vous aimerez</h6>
    <a class="more"><svg class="olymp-three-dots-icon"><use xlink:href="#olymp-three-dots-icon"></use></svg></a>
</div>

<!-- W-Friend-Pages-Added -->

<ul class="widget w-friend-pages-added notification-list friend-requests">
    <li class="inline-items">
        <div class="author-thumb">
            <img loading="lazy" src="./../../../../assets/img/img/jd_logo.jpeg" alt="author" width="36" height="36">
        </div>
        <div class="notification-event">
            <a class="h6 notification-friend">Just Dance</a>
            <span class="chat-message-item">Club de dance</span>
        </div>
        <span class="notification-icon" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-original-title="ADD TO YOUR FAVS">
            <a>
                <svg class="olymp-star-icon"><use xlink:href="#olymp-star-icon"></use></svg>
            </a>
        </span>

    </li>

    <li class="inline-items">
        <div class="author-thumb">
            <img loading="lazy" src="./../../../../assets/img/img/code2.jpg" alt="author" width="36" height="36">
        </div>
        <div class="notification-event">
            <a class="h6 notification-friend">CTC Comunity</a>
            <span class="chat-message-item">Club cinéma</span>
        </div>
        <span class="notification-icon" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-original-title="ADD TO YOUR FAVS">
            <a>
                <svg class="olymp-star-icon"><use xlink:href="#olymp-star-icon"></use></svg>
            </a>
        </span>

    </li>

    <li class="inline-items">
        <div class="author-thumb">
            <img loading="lazy" src="./../../../../assets/img/img/code3.jpg" alt="author" width="36" height="36">
        </div>
        <div class="notification-event">
            <a class="h6 notification-friend">Club Info</a>
            <span class="chat-message-item">Espace informaticiens</span>
        </div>
        <span class="notification-icon" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-original-title="ADD TO YOUR FAVS">
            <a>
                <svg class="olymp-star-icon"><use xlink:href="#olymp-star-icon"></use></svg>
            </a>
        </span>
    </li>

    <li class="inline-items">
        <div class="author-thumb">
            <img loading="lazy" src="./../../../../assets/img/img/MEUdM.jpeg" alt="author" width="36" height="36">
        </div>
        <div class="notification-event">
            <a class="h6 notification-friend">Mutuelle UdM</a>
            <span class="chat-message-item">Mutuelle des étudiantd</span>
        </div>
        <span class="notification-icon" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-original-title="ADD TO YOUR FAVS">
            <a>
                <svg class="olymp-star-icon"><use xlink:href="#olymp-star-icon"></use></svg>
            </a>
        </span>

    </li>

    <li class="inline-items">
        <div class="author-thumb">
            <img loading="lazy" src="./../../../../assets/img/img/cp_logo.png" alt="author" width="36" height="36">
        </div>
        <div class="notification-event">
            <a class="h6 notification-friend">Co-Pharma</a>
            <span class="chat-message-item">Coopérative de pharmaciens</span>
        </div>
        <span class="notification-icon" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-original-title="ADD TO YOUR FAVS">
            <a>
                <svg class="olymp-star-icon"><use xlink:href="#olymp-star-icon"></use></svg>
            </a>
        </span>
    </li>

    <li class="inline-items">
        <div class="notification-event">
            <a class="h6 notification-friend">Voir plus</a>
        </div>
        <span class="notification-icon" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-original-title="ADD TO YOUR FAVS">
            <a>
                <i class="fas fa-angle-down"></i>
            </a>
        </span>
    </li>
</ul>

<!-- .. end W-Friend-Pages-Added -->