<!-- Window-popup Event Public -->

<div class="modal fade" id="detail_event" tabindex="-1" role="dialog" aria-labelledby="public-event" aria-hidden="true">
	<div class="modal-dialog window-popup event-private-public public-event" role="document">
		<div class="modal-content">
			<a class="close icon-close" data-bs-dismiss="modal" aria-label="Close">
				<svg class="olymp-close-icon">
					<use xlink:href="#olymp-close-icon"></use>
				</svg>
			</a>
			<div class="modal-body">
				<article  class="hentry post has-post-thumbnail thumb-full-width private-event">

					<div class="private-event-head inline-items">
						<div class="author-date">
							<a class="h3 event-title">{{event.name}}</a>
							<div class="event__date">
								<time class="published" datetime="2017-03-24T18:18">
									 {{event.getStringEventDate()}}
								</time>
							</div>
						</div>

						<div class="more">
							<svg class="olymp-three-dots-icon">
								<use xlink:href="#olymp-three-dots-icon"></use>
							</svg>
							<ul class="more-dropdown">
								<!-- <li>
									<a >Edit Event Settings</a>
								</li>
								<li>
									<a >Mark as Completed</a>
								</li>
								<li>
									<a >Delete Event</a>
								</li> -->
							</ul>
						</div>
					</div>

					<div class="post-thumb">
						<img loading="lazy" src="https://firebasestorage.googleapis.com/v0/b/reseau-des-montagnes-f9a68.appspot.com/o/static%20files%2FFlyerMiss.webp?alt=media&token=380e3f6d-00a7-4a85-84e9-b9dfa18593c6" alt="photo" width="769"
							height="380">
					</div>
					<div *ngIf="hasLoadDetailEvent==false" class="row justify-content-center">
						<div class="col"><span class="fs-5 text-center">Chargement des informations de l'évènement...</span></div>
						<app-progress-indeterminate></app-progress-indeterminate>
					</div>
					<div *ngIf="hasLoadDetailEvent==true">
						<div class="row">
							<div class="col col-lg-7 col-md-7 col-sm-12 col-12">
								<div class="post__author author vcard inline-items">
									<img loading="lazy" [src]="owner.photoUrl" alt="author" width="42"
										height="42">
	
									<div class="author-date">
										<a class="h6 post__author-name fn">{{owner.getFullName()}}</a>
										<div class="post__date">
											<time class="published" datetime="2017-03-24T18:18">
												{{event.getStringEventDate()}}
											</time>
										</div>
									</div>
	
								</div>
	
								<p>
									{{event.description}}
								</p>
							</div>
							<div class="col col-lg-5 col-md-5 col-sm-12 col-12">
								<div class="event-description">
									<h6 class="event-description-title">{{event.getStringScopeVisibility()}}</h6>
									<div class="place inline-items">
										<svg class="olymp-add-a-place-icon">
											<use xlink:href="#olymp-add-a-place-icon"></use>
										</svg>
										<span>{{event.place}}</span>
									</div>
	
									<div class="place inline-items">
										<svg class="olymp-add-a-place-icon">
											<use xlink:href="#olymp-add-a-place-icon"></use>
										</svg>
										<span>{{event.getStringIntervalEventDate()}}</span>
									</div>
	
									<ul class="friends-harmonic">
										<li>
											<a>
												<img loading="lazy" src="./../../../assets/img/img/user.jpeg" alt="friend"
													width="28" height="28">
											</a>
										</li>
										<li>
											<a>
												<img loading="lazy" src="./../../../assets/img/img/user.jpeg" alt="friend"
													width="28" height="28">
											</a>
										</li>
										<li>
											<a>
												<img loading="lazy" src="./../../../assets/img/img/user.jpeg" alt="friend"
													width="28" height="28">
											</a>
										</li>
										<li>
											<a class="all-users bg-breez">
												<span *ngIf="event.getSpecialActionNumber()!=0">+</span>
												{{event.getSpecialActionNumber()}}
											</a>
										</li>
	
										<li class="with-text">

											<span *ngIf="event.eventType=='vote_event'">
												<span *ngIf="event.getSpecialActionNumber()==0">Aucun vote</span>
												<span *ngIf="event.getSpecialActionNumber()!=0">Personnes Ont votés.</span>
												
											</span>
											<span *ngIf="event.eventType!='vote_event'">Vont assister.</span>

										</li>
									</ul>
	
									<a (click)="navigateToEllection()" class="btn btn-blue btn-sm full-width" *ngIf="event.eventType=='vote_event'">Passer au vote</a>
									<a class="btn btn-blue btn-sm full-width" *ngIf="event.eventType!='vote_event'">Acheter le billet</a>
									<a class="btn btn-breez btn-sm full-width">Contacter l'organisation</a>
								</div>
							</div>
						</div>
	

						<app-event-action-list [event]="event" [owner]="owner"></app-event-action-list>
					</div>

				</article>
			</div>
		</div>
	</div>
</div>