<div *ngFor="let image of images" class="choose-photo-item">
    <div class="radio">
        <label class="custom-radio">
            <img loading="lazy" [src]="image" alt="photo" width="247" height="166">
            <input type="radio" name="optionsRadios">
        </label>
    </div>
</div>

<div class="row" *ngIf="hasLoaded==false">
    <div class="col">
        <app-progress-indeterminate></app-progress-indeterminate>
    </div>
</div>
<div class="row" *ngIf="hasLoaded==true && images.length==0">
    <div class="col">
        <span class="text-center">Aucune photo trouvée. ajoutez une nouvelle photo</span>
    </div>
</div>