<!-- ... end Responsive Header-BP -->

<div class="header-spacer header-spacer-small"></div>


<!-- Main Header Groups -->
<div class="main-header">
    <div class="content-bg-wrap bg-group"></div>
    <div class="container">
        <div class="row">
            <div class="col col-lg-8 m-auto col-md-8 col-sm-12 col-12">
                <div class="main-header-content">
                    <h1>{{ellectName}}</h1>
                    <p> {{ellectDescript}}</p>
                </div>
            </div>
        </div>
    </div>

    <img loading="lazy" class="img-bottom" src="./../../../assets/img/template/group-bottom.webp" alt="friends"
        width="1087" height="148">
</div>

<!-- ... end Main Header Groups -->

<div class="container">
    <div class="row">

        <div class="col col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 mb-3">
            <div class="ui-block h-100 mb-0">
                <div class="ui-block-title">
                    <div class="h6 title">Organisateur</div>
                </div>
                <div class="ui-block-content">

                    <!---------------------------------------------- PIE-CHART ---------------------------------------->

                    <div class="circle-progress circle-pie-chart">
                        <div class="author-thumb">
                            <img loading="lazy" [src]="owner.photoUrl" width="128" height="128"
                                alt="author" class="mCS_img_loaded">
                        </div>
                    </div>
                    <div class="chart-text">
                        <h6>Par {{owner.getFullName()}}</h6>
                        <!-- <p>Desctiption de l'évènement</p> -->
                        <p>{{event.description}}</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12 mb-3">
            <div class="ui-block h-100 mb-0">
                <div class="ui-block-title">
                    <div class="h6 title">Propriétés des éllections</div>
                    <a class="more" *ngIf="isOwner">
                        <svg class="olymp-three-dots-icon">
                            <use xlink:href="#olymp-three-dots-icon"></use>
                        </svg>
                    </a>
                </div>

                <div class="ui-block-content">
                    <div class="world-statistics">
                        <div class="modal-body">
                            <form class="form-group label-floating">
                                <label>Type d'évènement</label>
                                <h5>{{event.getStringScopeVisibility()}}</h5>
                            </form>
                            <form class="form-group label-floating">
                                <label>Cathégorie d'évènement</label>
                                <h5>{{event.getStringTypeEvenement()}}</h5>
                            </form>

                            <form class="form-group label-floating">
                                <label>lieu</label>
                                <h5>{{event.place}}</h5>
                            </form>
                            <form class="form-group label-floating">
                                <label>Date de début</label>
                                <h5>{{getStringDate(event.startDate,event.startTime)}}</h5>
                            </form>
                            <form class="form-group label-floating">
                                <label>Date de Fin</label>
                                <h5>{{getStringDate(event.endDate,event.endTime)}}</h5>
                            </form>
                            <div *ngIf="isAuth">
                                <div class="row">
                                    <div class="col-md-6 col-sm-12">
                                        <div *ngIf="owner.id.toString()==event.eventOwner.toString()">
                                            <a (click)="changeStatusPublishedEvent()" *ngIf="!event.isPublishedEvent()" class="btn btn-blue btn-lg full-width" style="background-color: #4e814c;">
                                                <app-progress-indeterminate *ngIf="waitResponseChangePublish"></app-progress-indeterminate>
                                                
                                                Publier l'éllection</a>
                                            <a (click)="changeStatusPublishedEvent()" *ngIf="event.isPublishedEvent()" class="btn btn-blue btn-lg full-width"
                                                style="background-color: #d63327;">
                                                <app-progress-indeterminate *ngIf="waitResponseChangePublish"></app-progress-indeterminate>
                                                Dépublier l'éllection
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <div *ngIf="owner.id.toString()==event.eventOwner.toString()">
                                            <a *ngIf="!event.isStarted" (click)="changeStatusStateEvent()" class="btn btn-blue btn-lg full-width" style="background-color: #4e814c;">
                                                <app-progress-indeterminate *ngIf="waitResponseChangeStatus"></app-progress-indeterminate>
                                                
                                                Démarrer l'éllection</a>
                                            <a *ngIf="event.isStarted" class="btn btn-blue btn-lg full-width" (click)="changeStatusStateEvent()"
                                                style="background-color: #d63327;">
                                                <app-progress-indeterminate *ngIf="waitResponseChangeStatus"></app-progress-indeterminate>
                                                
                                                Arreter l'éllection</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 mb-3">
            <div class="ui-block h-100 mb-0">
                <div class="ui-block-title">
                    <div class="h6 title">Total des participants</div>
                </div>

                <div class="ui-block-content">
                    <div class="swiper-container" data-slide="fade">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="statistics-slide">
                                    <div class="count-stat" data-swiper-parallax="-500">248</div>
                                    <div class="title" data-swiper-parallax="-100">
                                        <span class="c-primary">Personnes</span> ont votés
                                    </div>
                                    <div class="sub-title" data-swiper-parallax="-100">Nombre total des personnes ayant
                                        données leur vote dans la cathégorie Miss</div>
                                </div>
                            </div>
                        </div>

                        <!-- If we need pagination -->
                        <div class="swiper-pagination pagination-blue"></div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 mb-3">
            <div class="ui-block h-100 mb-0">
                <div class="ui-block-title">
                    <div class="h6 title">Porcentage</div>
                    <a class="more">
                        100%=248
                    </a>
                </div>

                <div class="ui-block-content">
                    <div class="skills-item">
                        <div class="skills-item-info">
                            <span class="skills-item-title">Orange Gradient Progress</span>
                            <span class="skills-item-count"><span class="count-animate" data-speed="1000"
                                    data-refresh-interval="50" data-to="62" data-from="0"></span><span
                                    class="units">62%</span></span>
                        </div>
                        <div class="skills-item-meter">
                            <span class="skills-item-meter-active bg-primary" style="width: 62%"></span>
                        </div>
                    </div>

                    <div class="skills-item">
                        <div class="skills-item-info">
                            <span class="skills-item-title">Violet Progress</span>
                            <span class="skills-item-count"><span class="count-animate" data-speed="1000"
                                    data-refresh-interval="50" data-to="46" data-from="0"></span><span
                                    class="units">46%</span></span>
                        </div>
                        <div class="skills-item-meter">
                            <span class="skills-item-meter-active bg-purple" style="width: 46%"></span>
                        </div>
                    </div>

                    <div class="skills-item">
                        <div class="skills-item-info">
                            <span class="skills-item-title">Blue Progress</span>
                            <span class="skills-item-count"><span class="count-animate" data-speed="1000"
                                    data-refresh-interval="50" data-to="79" data-from="0"></span><span
                                    class="units">79%</span></span>
                        </div>
                        <div class="skills-item-meter">
                            <span class="skills-item-meter-active bg-blue" style="width: 79%"></span>
                        </div>
                    </div>

                    <div class="skills-item">
                        <div class="skills-item-info">
                            <span class="skills-item-title">Aqua Progress</span>
                            <span class="skills-item-count"><span class="count-animate" data-speed="1000"
                                    data-refresh-interval="50" data-to="34" data-from="0"></span><span
                                    class="units">34%</span></span>
                        </div>
                        <div class="skills-item-meter">
                            <span class="skills-item-meter-active bg-breez" style="width: 34%"></span>
                        </div>
                    </div>

                    <div class="skills-item">
                        <div class="skills-item-info">
                            <span class="skills-item-title">Yellow Progress</span>
                            <span class="skills-item-count"><span class="count-animate" data-speed="1000"
                                    data-refresh-interval="50" data-to="95" data-from="0"></span><span
                                    class="units">95%</span></span>
                        </div>
                        <div class="skills-item-meter">
                            <span class="skills-item-meter-active bg-yellow" style="width: 95%"></span>
                        </div>
                    </div>
                </div>

            </div>
        </div>


        <div class="col col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 mb-3">
            <div class="ui-block h-100 mb-0">
                <div class="ui-block-title">
                    <div class="h6 title">Icons with Text</div>
                    <a class="more">
                        <svg class="olymp-three-dots-icon">
                            <use xlink:href="#olymp-three-dots-icon"></use>
                        </svg>
                    </a>
                </div>

                <div class="ui-block-content">
                    <div class="monthly-indicator-wrap">
                        <div class="monthly-indicator">
                            <a class="btn btn-control bg-blue">
                                <svg class="olymp-happy-face-icon">
                                    <use xlink:href="#olymp-happy-face-icon"></use>
                                </svg>
                            </a>

                            <div class="monthly-count">
                                9.855
                                <span class="period">Likes</span>
                            </div>
                        </div>

                        <div class="monthly-indicator">
                            <a class="btn btn-control bg-blue">
                                <svg class="olymp-happy-face-icon">
                                    <use xlink:href="#olymp-happy-face-icon"></use>
                                </svg>
                            </a>

                            <div class="monthly-count">
                                6.721
                                <span class="period">Shares</span>
                            </div>
                        </div>

                        <div class="monthly-indicator">
                            <a class="btn btn-control bg-blue">
                                <svg class="olymp-happy-face-icon">
                                    <use xlink:href="#olymp-happy-face-icon"></use>
                                </svg>
                            </a>

                            <div class="monthly-count">
                                2.047
                                <span class="period">Comments</span>
                            </div>
                        </div>

                        <div class="monthly-indicator">
                            <a class="btn btn-control bg-blue">
                                <svg class="olymp-happy-face-icon">
                                    <use xlink:href="#olymp-happy-face-icon"></use>
                                </svg>
                            </a>

                            <div class="monthly-count">
                                1.536
                                <span class="period">Messages</span>
                            </div>
                        </div>

                        <div class="monthly-indicator">
                            <a class="btn btn-control bg-primary">
                                <svg class="olymp-comments-post-icon">
                                    <use xlink:href="#olymp-comments-post-icon"></use>
                                </svg>
                            </a>

                            <div class="monthly-count">
                                Paragraph
                                <span class="period">Lorem ipsum dolor sit amet, consectetur icing elit, sed do eiusmod
                                    tempor incididunt ut ore et dolore magna aliqua. Ut enim ad minim an quis nostrud
                                    exercitation.
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>

</div>

<!-- Main Content Groups -->
<app-candidats-list></app-candidats-list>