<!-- ... end Responsive Header-BP -->

<div class="header-spacer header-spacer-small"></div>


<!-- Main Header Groups -->
<div class="main-header">
    <div class="content-bg-wrap bg-group"></div>
    <div class="container">
        <div class="row">
            <div class="col col-lg-8 m-auto col-md-8 col-sm-12 col-12">
                <div class="main-header-content">
                    <h1>{{ellectName}}</h1>
                    <p> {{ellectDescript}}</p>
                </div>
            </div>
        </div>
    </div>

    <img loading="lazy" class="img-bottom" src="./../../../assets/img/template/group-bottom.webp" alt="friends"
        width="1087" height="148">
</div>

<!-- ... end Main Header Groups -->

<div class="container">
    <div class="row">

        <div class="col col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 mb-3">
            <div class="ui-block h-100 mb-0">
                <div class="ui-block-title">
                    <div class="h6 title">Organisateur</div>
                </div>
                <div class="ui-block-content">

                    <!---------------------------------------------- PIE-CHART ---------------------------------------->

                    <div class="circle-progress circle-pie-chart">
                        <div class="author-thumb">
                            <img loading="lazy" [src]="owner.photoUrl" width="128" height="128"
                                alt="author" class="mCS_img_loaded">
                        </div>
                    </div>
                    <div class="chart-text">
                        <h6>Par {{owner.getFullName()}}</h6>
                        <!-- <p>Desctiption de l'évènement</p> -->
                        <p>{{event.description}}</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12 mb-3">
            <div class="ui-block h-100 mb-0">
                <div class="ui-block-title">
                    <div class="h6 title">Propriétés des éllections</div>
                    <a class="more" *ngIf="isOwner">
                        <svg class="olymp-three-dots-icon">
                            <use xlink:href="#olymp-three-dots-icon"></use>
                        </svg>
                    </a>
                </div>

                <div class="ui-block-content">
                    <div class="world-statistics">
                        <div class="modal-body">
                            <form class="form-group label-floating">
                                <label>Type d'évènement</label>
                                <h5>{{event.getStringScopeVisibility()}}</h5>
                            </form>
                            <form class="form-group label-floating">
                                <label>Cathégorie d'évènement</label>
                                <h5>{{event.getStringTypeEvenement()}}</h5>
                            </form>

                            <form class="form-group label-floating">
                                <label>lieu</label>
                                <h5>{{event.place}}</h5>
                            </form>
                            <form class="form-group label-floating">
                                <label>Date de début</label>
                                <h5>{{getStringDate(event.startDate,event.startTime)}}</h5>
                            </form>
                            <form class="form-group label-floating">
                                <label>Date de Fin</label>
                                <h5>{{getStringDate(event.endDate,event.endTime)}}</h5>
                            </form>
                            <div *ngIf="isAuth">
                                <div class="row">
                                    <div class="col-md-6 col-sm-12">
                                        <div *ngIf="currentUser!=null && currentUser.id.toString()==event.eventOwner.toString()">
                                            <a (click)="changeStatusPublishedEvent()" *ngIf="!event.isPublishedEvent()" class="btn btn-blue btn-lg full-width" style="background-color: #4e814c;">
                                                <app-progress-indeterminate *ngIf="waitResponseChangePublish"></app-progress-indeterminate>
                                                
                                                Publier l'éllection</a>
                                            <a (click)="changeStatusPublishedEvent()" *ngIf="event.isPublishedEvent()" class="btn btn-blue btn-lg full-width"
                                                style="background-color: #d63327;">
                                                <app-progress-indeterminate *ngIf="waitResponseChangePublish"></app-progress-indeterminate>
                                                Dépublier l'éllection
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <div *ngIf="currentUser!=null && currentUser.id.toString()==event.eventOwner.toString()">
                                            <a *ngIf="!event.isStarted" (click)="changeStatusStateEvent()" class="btn btn-blue btn-lg full-width" style="background-color: #4e814c;">
                                                <app-progress-indeterminate *ngIf="waitResponseChangeStatus"></app-progress-indeterminate>
                                                
                                                Démarrer l'éllection</a>
                                            <a *ngIf="event.isStarted" class="btn btn-blue btn-lg full-width" (click)="changeStatusStateEvent()"
                                                style="background-color: #d63327;">
                                                <app-progress-indeterminate *ngIf="waitResponseChangeStatus"></app-progress-indeterminate>
                                                
                                                Arreter l'éllection</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 mb-3">
            <div class="ui-block h-100 mb-0">
                <div class="ui-block-title">
                    <div class="h6 title">Total des participants</div>
                </div>

                <div class="ui-block-content">
                    <div class="swiper-container" data-slide="fade">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="statistics-slide">
                                    <div class="count-stat" data-swiper-parallax="-500">{{event.getSpecialActionNumber()}}</div>
                                    <div class="title" data-swiper-parallax="-100">
                                        <span class="c-primary">Personnes</span> ont votés
                                    </div>
                                    <div class="sub-title" data-swiper-parallax="-100">Nombre total des personnes ayant
                                        données leur vote dans toutes les cathégories</div>
                                </div>
                            </div>
                        </div>

                        <!-- If we need pagination -->
                        <div class="swiper-pagination pagination-blue"></div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 mb-3">
           <app-statistic-vote-evenement [event]="event"></app-statistic-vote-evenement>
        </div>


        <div class="col col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 mb-3">
            <div class="ui-block h-100 mb-0">
                <div class="ui-block-title">
                    <div class="h6 title">Actions</div>
                    <a class="more">
                        <svg class="olymp-three-dots-icon">
                            <use xlink:href="#olymp-three-dots-icon"></use>
                        </svg>
                    </a>
                </div>

                <div class="ui-block-content">
                    <div class="monthly-indicator-wrap">
                        <div class="monthly-indicator">
                            <a class="btn btn-control bg-blue">
                                <svg class="olymp-heart-icon">
                                    <use xlink:href="#olymp-heart-icon"></use>
                                </svg>
                            </a>

                            <div class="monthly-count">
                                {{event.getLikeNumber()}}
                                <span class="period">J'aime</span>
                            </div>
                        </div>

                        <div class="monthly-indicator">
                            <a class="btn btn-control bg-green">
                                <svg class="olymp-share-icon">
                                    <use xlink:href="#olymp-share-icon"></use>
                                </svg>
                            </a>

                            <div class="monthly-count">
                                0
                                <span class="period">Partages</span>
                            </div>
                        </div>

                        <div class="monthly-indicator">
                            <a class="btn btn-control bg-primary">
                                <svg class="olymp-comments-post-icon">
                                    <use xlink:href="#olymp-comments-post-icon"></use>
                                </svg>
                            </a>

                            <div class="monthly-count">
                                {{event.getCommentNumber()}}
                                <span class="period">Commentaires</span>
                            </div>
                        </div>

                        <div class="monthly-indicator">
                            <a class="btn btn-control bg-blue">
                                <svg class="olymp-chat---messages-icon">
                                    <use xlink:href="#olymp-chat---messages-icon"></use>
                                </svg>
                            </a>

                            <div class="monthly-count">
                                0
                                <span class="period">Messages</span>
                            </div>
                        </div>

                        
                    </div>
                </div>

            </div>
        </div>

    </div>

</div>

<!-- Main Content Groups -->
<app-candidats-list [idEvent]="idEvent"></app-candidats-list>