<div class="post-additional-info inline-items">

    <a class="post-add-icon inline-items">
        <svg class="olymp-heart-icon" (click)="like()">
            <use xlink:href="#olymp-heart-icon"></use>
        </svg>
        <span>{{event.getLikeNumber()}}</span>
    </a>

    <ng-container *ngIf="event.getLikeNumber()!=0">
        <ul class="friends-harmonic">
            <li>
                <a>
                    <img loading="lazy" src="./../../../../assets/img/img/user.jpeg" alt="friend" width="28"
                        height="28">
                </a>
            </li>
            <li>
                <a>
                    <img loading="lazy" src="./../../../../assets/img/img/user.jpeg" alt="friend" width="28"
                        height="28">
                </a>
            </li>
            <li>
                <a>
                    <img loading="lazy" src="./../../../../assets/img/img/user.jpeg" alt="friend" width="28"
                        height="28">
                </a>
            </li>
        </ul>
    
        <div class="names-people-likes">
            {{message}}
        </div>
    </ng-container>


    <div class="comments-shared">
        <a class="post-add-icon inline-items">
            <svg class="olymp-speech-balloon-icon">
                <use xlink:href="#olymp-speech-balloon-icon"></use>
            </svg>
            <span>{{event.getCommentNumber()}}</span>
        </a>

        <a class="post-add-icon inline-items">
            <svg class="olymp-share-icon">
                <use xlink:href="#olymp-share-icon"></use>
            </svg>
            <span>0</span>
        </a>
    </div>


</div>