
<!-- ... end Preloader -->
<div class="content-bg-wrap"></div>


<!-- Header Standard Landing  -->

<div class="header--standard header--standard-landing" id="header--standard">
	<div class="container">
		<div class="header--standard-wrap">

			<a href="" class="logo">
				<div class="img-wrap">
					<img loading="lazy" src="../../../../assets/img/img/rdm_logo.png" style="border-radius: 5px;" alt="RdM" width="34" height="34">
					<img loading="lazy" src="../../../../assets/img/img/rdm_logo.png" style="border-radius: 5px;" width="34" height="34" alt="RdM" class="logo-colored">
				</div>
				<div class="title-block">
					<h6 class="logo-title">Réseau des Montagnes</h6>
					<div class="sub-title">Ici chez vous</div>
				</div>
			</a>

			<a  class="open-responsive-menu js-open-responsive-menu">
				<svg class="olymp-menu-icon"><use xlink:href="#olymp-menu-icon"></use></svg>
			</a>

		</div>
	</div>
</div>

<!-- ... end Header Standard Landing  -->
<div class="header-spacer--standard"></div>

<div class="container">
	<div class="row display-flex">
		<div class="col col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
			<div class="landing-content">
				<h1>Bienvenue dans le Réseau des Montages !!</h1>
				<p><i> La plateforme africaine dévelopée par des jeunes camerounais ayant pour but de promouvoir les valeurs local.</i>
				</p>
				<!-- <a href="" class="btn btn-md btn-border c-white">Register Now!</a> -->
			</div>
		</div>

		<div class="col col-xl-5 col-lg-6 col-md-12 col-sm-12 col-12">
			
			<!-- Login-Registration Form  -->

			<div class="registration-login-form">

				<!-- Nav tabs -->
				<ul class="nav nav-tabs" id="registration-form-tabs" role="tablist">
					<li class="nav-item" role="presentation">
						<a class="nav-link active" id="login-tab" data-bs-toggle="tab" href="#login" role="tab" aria-controls="login" aria-selected="true">
							Login
						</a>
					</li>
					<li class="nav-item" role="presentation">
						<a class="nav-link" id="profile-tab" data-bs-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">
							Regis
						</a>
					</li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content" id="registration-form-tabs-content">
					<div class="tab-pane fade show active" id="login" role="tabpanel" aria-labelledby="login-tab">
						<div class="title h6">Se connecter</div>
						<app-login></app-login>
						
					</div>

					<div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
						<div class="title h6">S'enregistrer</div>
						<app-register></app-register>
					</div>
				</div>
			</div>
			
			<!-- ... end Login-Registration Form  -->		</div>
	</div>
</div>

<!-- Window-popup Restore Password -->

<div class="modal fade" id="restore-password" tabindex="-1" role="dialog" aria-labelledby="restore-password" aria-hidden="true">
	<div class="modal-dialog window-popup restore-password-popup" role="document">
		<div class="modal-content">
			<a href="" class="close icon-close" data-bs-dismiss="modal" aria-label="Close">
				<svg class="olymp-close-icon"><use xlink:href="#olymp-close-icon"></use></svg>
			</a>

			<div class="modal-header">
				<h6 class="title">Réinitialiser le mot de passe</h6>
			</div>

			<div class="modal-body">
				<app-reset-password></app-reset-password>
			</div>
		</div>
	</div>
</div>

<!-- ... end Window-popup Restore Password -->



