
				<!-- News Feed Form  -->
				
				<div class="news-feed-form">
					<!-- Nav tabs -->
					<ul class="nav nav-tabs" role="tablist">
						<li class="nav-item">
							<a class="nav-link active inline-items" data-bs-toggle="tab" href="#home-1" role="tab" aria-expanded="true">
				
								<svg class="olymp-status-icon"><use xlink:href="#olymp-status-icon"></use></svg>
				
								<span>Status</span>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link inline-items" data-bs-toggle="tab" href="#profile-1" role="tab" aria-expanded="false">
				
								<svg class="olymp-multimedia-icon"><use xlink:href="#olymp-multimedia-icon"></use></svg>
				
								<span>Multimedia</span>
							</a>
						</li>
				
						<li class="nav-item">
							<a class="nav-link inline-items" data-bs-toggle="tab" href="#blog" role="tab" aria-expanded="false">
								<svg class="olymp-blog-icon"><use xlink:href="#olymp-blog-icon"></use></svg>
				
								<span>Post</span>
							</a>
						</li>
					</ul>
				
					<!-- Tab panes -->
					<div class="tab-content">
						<div class="tab-pane fade active show" id="home-1" role="tabpanel" aria-expanded="true">
							<form>
								<div class="author-thumb">
									<img loading="lazy" src="./../../../../assets/img/img/user.jpeg" width="36" height="36" alt="author">
								</div>
								<div class="form-group with-icon label-floating is-empty">
									<label class="control-label">Que voulez-vous partager avec nous ?</label>
									<textarea class="form-control" placeholder=""></textarea>
								</div>
								<div class="add-options-message">
									<a class="options-message" data-bs-toggle="tooltip" data-bs-placement="top"   data-bs-original-title="Ajoite une image">
										<svg class="olymp-camera-icon" data-bs-toggle="modal" data-bs-target="#update-header-photo"><use xlink:href="#olymp-camera-icon"></use></svg>
									</a>
									<a class="options-message" data-bs-toggle="tooltip" data-bs-placement="top"   data-bs-original-title="Tag des amis">
										<svg class="olymp-computer-icon"><use xlink:href="#olymp-computer-icon"></use></svg>
									</a>
				
									<a class="options-message" data-bs-toggle="tooltip" data-bs-placement="top"   data-bs-original-title="Ajoute un lieu">
										<svg class="olymp-small-pin-icon"><use xlink:href="#olymp-small-pin-icon"></use></svg>
									</a>
				
									<button class="btn btn-primary btn-md-2" style="background-color: #4e814c;">Publier</button>
									<!-- <button   class="btn btn-md-2 btn-border-think btn-transparent c-grey">Preview</button> -->
				
								</div>
				
							</form>
						</div>
				
						<div class="tab-pane fade" id="profile-1" role="tabpanel" aria-expanded="true">
							<form>
								<div class="author-thumb">
									<img loading="lazy" src="./../../../../assets/img/img/user.jpeg" width="36" height="36" alt="author">
								</div>
								<div class="form-group with-icon label-floating is-empty">
									<label class="control-label">Que voulez-vous partager avec nous?</label>
									<textarea class="form-control" placeholder=""  ></textarea>
								</div>
								<div class="add-options-message">
									<a class="options-message" data-bs-toggle="tooltip" data-bs-placement="top"   data-bs-original-title="ADD PHOTOS">
										<svg class="olymp-camera-icon" data-bs-toggle="modal" data-bs-target="#update-header-photo"><use xlink:href="#olymp-camera-icon"></use></svg>
									</a>
									<a class="options-message" data-bs-toggle="tooltip" data-bs-placement="top"   data-bs-original-title="TAG YOUR FRIENDS">
										<svg class="olymp-computer-icon"><use xlink:href="#olymp-computer-icon"></use></svg>
									</a>
				
									<a class="options-message" data-bs-toggle="tooltip" data-bs-placement="top"   data-bs-original-title="ADD LOCATION">
										<svg class="olymp-small-pin-icon"><use xlink:href="#olymp-small-pin-icon"></use></svg>
									</a>
				
									<button class="btn btn-primary btn-md-2" style="background-color: #4e814c;">Publier</button>
									<!-- <button   class="btn btn-md-2 btn-border-think btn-transparent c-grey">Preview</button> -->
				
								</div>
				
							</form>
						</div>
				
						<div class="tab-pane fade" id="blog" role="tabpanel" aria-expanded="true">
							<form>
								<div class="author-thumb">
									<img loading="lazy" src="./../../../../assets/img/img/user.jpeg" width="36" height="36" alt="author">
								</div>
								<div class="form-group with-icon label-floating is-empty">
									<label class="control-label">Que voulez-vous partager avec nous?</label>
									<textarea class="form-control" placeholder=""  ></textarea>
								</div>
								<div class="add-options-message">
									<a class="options-message" data-bs-toggle="tooltip" data-bs-placement="top"   data-bs-original-title="ADD PHOTOS">
										<svg class="olymp-camera-icon" data-bs-toggle="modal" data-bs-target="#update-header-photo"><use xlink:href="#olymp-camera-icon"></use></svg>
									</a>
									<a class="options-message" data-bs-toggle="tooltip" data-bs-placement="top"   data-bs-original-title="TAG YOUR FRIENDS">
										<svg class="olymp-computer-icon"><use xlink:href="#olymp-computer-icon"></use></svg>
									</a>
				
									<a class="options-message" data-bs-toggle="tooltip" data-bs-placement="top"   data-bs-original-title="ADD LOCATION">
										<svg class="olymp-small-pin-icon"><use xlink:href="#olymp-small-pin-icon"></use></svg>
									</a>
				
									<button class="btn btn-primary btn-md-2" style="background-color: #4e814c;">Publier</button>
									<!-- <button   class="btn btn-md-2 btn-border-think btn-transparent c-grey">Preview</button> -->
				
								</div>
				
							</form>
						</div>
					</div>
				</div>
				
				<!-- ... end News Feed Form  -->