<div class="ui-block">
    <div class="ui-block-title">
        <h6 class="title">Paramètre du compte</h6>
    </div>
    <div class="ui-block-content">

        
        <!-- Personal Account Settings Form -->
        
        <form *ngIf="isAuth">
            <div class="row">
        
                <div class="col col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="form-group label-floating is-select">
                        <label class="control-label">Qui peut voir vous suivre?</label>
                        <select class="form-select">
                            <option value="EO">Tout le monde</option>
                            <option value="NO">Personne</option>
                        </select>
                    </div>
                </div>
                <div class="col col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="form-group label-floating is-select">
                        <label class="control-label">Qui peut voir vos publications</label>
                        <select class="form-select">
                            <option value="EO">Tout le monde</option>
                            <option value="NO">Personne</option>
                        </select>
                    </div>
                </div>
        
                <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="description-toggle">
                        <div class="description-toggle-content">
                            <div class="h6">Son de Notifications</div>
                            <p>Un son sera émis chaque fois que vous recevrez une notification de nouvelle activité.</p>
                        </div>
        
                        <div class="togglebutton">
                            <label>
                                <input type="checkbox" checked="">
                            </label>
                        </div>
                    </div>
                    <div class="description-toggle">
                        <div class="description-toggle-content">
                            <div class="h6">Notifications par Email</div>
                            <p>Nous vous enverrons un courriel sur votre compte chaque fois que vous recevrez une notification de nouvelle activité.</p>
                        </div>
        
                        <div class="togglebutton">
                            <label>
                                <input type="checkbox">
                            </label>
                        </div>
                    </div>
                    <div class="description-toggle">
                        <div class="description-toggle-content">
                            <div class="h6">Notification de Chat</div>
                            <p>Un son sera émis chaque fois que vous recevrez un nouveau message dans une fenêtre de chat inactive.</p>
                        </div>
        
                        <div class="togglebutton">
                            <label>
                                <input type="checkbox" checked="">
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col col-lg-6 col-md-6 col-sm-12 col-12">
                    <button class="btn btn-primary btn-lg full-width">Réinitialiser</button>
                </div>
        
                <div class="col col-lg-6 col-md-6 col-sm-12 col-12">
                    <button class="btn btn-secondary btn-lg full-width" style="background-color: #4e814c;">Enregistrer</button>
                </div>
            </div>
        </form>
        
        <form *ngIf="!isAuth">
            <div class="row">
                <h6>Vous devez vous <a routerLink="/page/login" style="color: green;">connecter</a> pour continuer.</h6>
                <br><button class="btn btn-success col-md-3" style="background-color: #4e814c;  border: none;">Connexion</button>
            </div>
        </form>
        <!-- ... end Personal Account Settings Form  -->

    </div>
</div>