
<div class="main-header">
	<div class="content-bg-wrap bg-group"></div>
	<div class="container">
		<div class="row">
			<div class="col col-lg-8 m-auto col-md-8 col-sm-12 col-12">
				<div class="main-header-content">
					<h1>ÉLLECTION</h1>
					<p>Bienvenue dans l'espace qui vous permet d'effectuer des éllections. <br> Nous n'attendons plus que vous pour voter.</p>
				</div>
			</div>
		</div>
	</div>

	<img loading="lazy" class="img-bottom" src="./../../../assets/img/template/group-bottom.webp" alt="friends" width="1087" height="148">
</div>