<div class="ui-block">
    <div class="ui-block-title">
        <h6 class="title">Informations Personnel</h6>
    </div>
    <div class="ui-block-content">


        <!-- Personal Information Form  -->

        <form *ngIf="isAuth" [formGroup]="formGroup" (ngSubmit)="submitForm()">
            <div class="row">

                <div class="col col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="form-group label-floating">
                        <label class="control-label">Nom de l'organisation</label>
                        <input class="form-control" placeholder="" type="text" formControlName="workGroupName">
                    </div>

                    <div class="form-group label-floating">
                        <label class="control-label">Email</label>
                        <input class="form-control" placeholder="" type="email" formControlName="email" [attr.disabled]="true">
                    </div>
                   
                </div>

                <div class="col col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="form-group label-floating is-empty">
                        <label class="control-label">Numéro de Téléphone</label>
                        <input class="form-control" placeholder="" type="number" formControlName="phoneNumber">
                    </div>

                    <div class="form-group label-floating">
                        <label class="control-label">Siteweb</label>
                        <input class="form-control" placeholder="" type="text" formControlName="websiteLink">
                    </div>                    
                </div>
<!-- 
                <div class="col col-lg-4 col-md-4 col-sm-12 col-12">
                    <div class="form-group label-floating is-select">
                        <label class="control-label">Your Country</label>
                        <select class="form-select">
                            <option value="US">United States</option>
                            <option value="AU">Australia</option>
                        </select>
                    </div>
                </div>
                -->
                <div class="col col-lg-4 col-md-4 col-sm-12 col-12">
                    <div class="form-group label-floating is-select">
                        <label class="control-label">Région</label>
                        <input class="form-control" placeholder="" type="ex: Ouest"  formControlName="region">
                    </div>
                </div>
                <div class="col col-lg-4 col-md-4 col-sm-12 col-12">
                    <div class="form-group label-floating is-select">
                        <label class="control-label">Ville</label>
                        <input class="form-control" placeholder="" type="ex: Bangangté" formControlName="ville">
                    </div>
                </div>
                <div class="col col-lg-4 col-md-4 col-sm-12 col-12">
                    <div class="form-group label-floating is-select">
                        <label class="control-label">Quartier</label>
                        <input class="form-control" placeholder="" type="ex: Tchougo"  formControlName="quartier">
                    </div>
                </div>
                <div class="col col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="form-group label-floating">
                        <label class="control-label">Spécialité/Domaine</label>
                        <input class="form-control" placeholder="" type="text"  formControlName="work_domaine">
                    </div>
                </div>
                <div class="col col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="form-group">
                        <textarea formControlName="about" class="form-control"
                            placeholder="Décrivez votre entrepriseen quelques mots"></textarea>
                    </div>
                </div>

                <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="form-group with-icon label-floating">
                        <label class="control-label">Lien facebook</label>
                        <input class="form-control" type="text" formControlName="facebook_link">
                        <svg class="c-facebook" width="20" height="20">
                            <use xlink:href="#olymp-facebook-icon"></use>
                        </svg>
                    </div>
                    <div class="form-group with-icon label-floating">
                        <label class="control-label">Lien Twitter</label>
                        <input class="form-control" type="text"formControlName="tweeter_link">
                        <svg class="c-twitter" width="20" height="20">
                            <use xlink:href="#olymp-twitter-icon"></use>
                        </svg>
                    </div>
                    <div class="form-group with-icon label-floating is-empty">
                        <label class="control-label">Lien Instagram</label>
                        <input class="form-control" type="text" formControlName="instagram_link">
                        <svg class="c-instagram" width="20" height="20">
                            <use xlink:href="#olymp-instagram-icon"></use>
                        </svg>
                    </div>
                    <!-- <div class="form-group with-icon label-floating">
                        <label class="control-label">Your Dribbble Account</label>
                        <input class="form-control" type="text" value="www.dribbble.com/thecowboydesigner">
                        <svg class="c-dribbble" width="20" height="20">
                            <use xlink:href="#olymp-dribble-icon"></use>
                        </svg>
                    </div>
                    <div class="form-group with-icon label-floating is-empty">
                        <label class="control-label">Your Spotify Account</label>
                        <input class="form-control" type="text">
                        <svg class="c-spotify" width="20" height="20">
                            <use xlink:href="#olymp-spotify-icon"></use>
                        </svg>
                    </div> -->
                </div>
                <div class="col col-lg-6 col-md-6 col-sm-12 col-12">
                </div>
                <div class="col col-lg-6 col-md-6 col-sm-12 col-12">
                    <button *ngIf="isSubmittedForm==false" class="btn btn-secondary btn-lg full-width" type="submit" style="background-color: #4e814c;">Enregistrer</button>
			        <app-progress-indeterminate *ngIf="isSubmittedForm" style="background-color: white !important;"></app-progress-indeterminate>
                </div>
            </div>
        </form>

        

        <!-- ... end Personal Information Form  -->
    </div>
</div>