<div class="ui-block">
    <div class="ui-block-title">
        <h6 class="title">Changer le mot de passe</h6>
    </div>
    <div class="ui-block-content">

        
        <!-- Change Password Form -->
        
        <form *ngIf="!isAuth">
            <div class="row">
        
                <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="form-group label-floating">
                        <label class="control-label">Ancien mot de passe</label>
                        <input class="form-control" placeholder="" type="password" value="">
                    </div>
                </div>
                <div class="col col-lg-12 col-sm-12 col-sm-12 col-12">
                    <div class="remember">
                        <a href="#" class="forgot" data-bs-toggle="modal" data-bs-target="#restore-password">Mot de passe oublié.</a>
                    </div>
                    <br><br>
                </div>
        
                <div class="col col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="form-group label-floating is-empty">
                        <label class="control-label">Nouveau mot de passe</label>
                        <input class="form-control" placeholder="" type="password">
                    </div>
                </div>
                <div class="col col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="form-group label-floating is-empty">
                        <label class="control-label">Confirmer le nouveau passe</label>
                        <input class="form-control" placeholder="" type="password">
                    </div>
                </div>
        
        
                <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <button class="btn btn-primary btn-lg full-width" style="background-color: #4e814c; border: none;">Changer mon passe</button>
                </div>
        
            </div>
        </form>

        <form *ngIf="isAuth">
            <div class="row">
                <h6>Vous devez vous <a routerLink="/page/login" style="color: green;">connecter</a> pour continuer.</h6>
                <br><button class="btn btn-success col-md-3" style="background-color: #4e814c;  border: none;">Connexion</button>
            </div>
        </form>
        
        <!-- ... end Change Password Form -->
    </div>
</div>