<div class="ui-block-title">
    <h6 class="title">Friend Suggestions</h6>
    <a href="" class="more"><svg class="olymp-three-dots-icon"><use xlink:href="#olymp-three-dots-icon"></use></svg></a>
</div>



<!-- W-Action -->

<ul class="widget w-friend-pages-added notification-list friend-requests">
    <li class="inline-items">
        <div class="author-thumb">
            <img loading="lazy" src="./../../../assets/img/template/avatar/avatar38-sm.webp" alt="author" width="36" height="36">
        </div>
        <div class="notification-event">
            <a href="" class="h6 notification-friend">Francine Smith</a>
            <span class="chat-message-item">8 Friends in Common</span>
        </div>
        <span class="notification-icon">
            <a href="" class="accept-request">
                <span class="icon-add without-text">
                    <svg class="olymp-happy-face-icon"><use xlink:href="#olymp-happy-face-icon"></use></svg>
                </span>
            </a>
        </span>
    </li>

    <li class="inline-items">
        <div class="author-thumb">
            <img loading="lazy" src="./../../../assets/img/template/avatar/avatar39-sm.webp" alt="author" width="36" height="36">
        </div>
        <div class="notification-event">
            <a href="" class="h6 notification-friend">Hugh Wilson</a>
            <span class="chat-message-item">6 Friends in Common</span>
        </div>
        <span class="notification-icon">
            <a href="" class="accept-request">
                <span class="icon-add without-text">
                    <svg class="olymp-happy-face-icon"><use xlink:href="#olymp-happy-face-icon"></use></svg>
                </span>
            </a>
        </span>
    </li>

    <li class="inline-items">
        <div class="author-thumb">
            <img loading="lazy" src="./../../../assets/img/template/avatar/avatar40-sm.webp" alt="author" width="36" height="36">
        </div>
        <div class="notification-event">
            <a href="" class="h6 notification-friend">Karen Masters</a>
            <span class="chat-message-item">6 Friends in Common</span>
        </div>
        <span class="notification-icon">
            <a href="" class="accept-request">
                <span class="icon-add without-text">
                    <svg class="olymp-happy-face-icon"><use xlink:href="#olymp-happy-face-icon"></use></svg>
                </span>
            </a>
        </span>
    </li>

</ul>

<!-- ... end W-Action -->