<div class="ui-block-title">
    <h6 class="title">Friend Suggestions</h6>
    <a class="more"><svg class="olymp-three-dots-icon">
            <use xlink:href="#olymp-three-dots-icon"></use>
        </svg></a>
</div>



<!-- W-Action -->

<ul class="widget w-friend-pages-added notification-list friend-requests">
    <li class="inline-items">
        <div class="author-thumb">
            <img loading="lazy" src="./../../../../assets/img/img/yi_logo.png" alt="author" width="36"
                height="36">
        </div>
        <div class="notification-event">
            <a class="h6 notification-friend">Yaba-In</a>
            <!-- <span class="chat-message-item">8 Friends in Common</span> -->
        </div>
        <span class="notification-icon">
            <a class="accept-request" style="background-color: #4e814c;">
                <span class="icon-add without-text">
                    <svg class="olymp-happy-face-icon">
                        <use xlink:href="#olymp-happy-face-icon"></use>
                    </svg>
                </span>
            </a>
        </span>
    </li>
    <li class="inline-items">
        <div class="author-thumb">
            <img loading="lazy" src="./../../../../assets/img/img/xwlogo.jpeg" alt="author" width="36"
                height="36">
        </div>
        <div class="notification-event">
            <a class="h6 notification-friend">Xtreme Wash</a>
            <!-- <span class="chat-message-item">8 Friends in Common</span> -->
        </div>
        <span class="notification-icon">
            <a class="accept-request" style="background-color: #4e814c;">
                <span class="icon-add without-text">
                    <svg class="olymp-happy-face-icon">
                        <use xlink:href="#olymp-happy-face-icon"></use>
                    </svg>
                </span>
            </a>
        </span>
    </li>

    <li class="inline-items">
        <div class="author-thumb">
            <img loading="lazy" src="./../../../../assets/img/img/udm_logo.jpeg" alt="author" width="36"
                height="36">
        </div>
        <div class="notification-event">
            <a class="h6 notification-friend">Université de montagnes</a>
            <!-- <span class="chat-message-item">6 Friends in Common</span> -->
        </div>
        <span class="notification-icon">
            <a class="accept-request" style="background-color: #4e814c;">
                <span class="icon-add without-text">
                    <svg class="olymp-happy-face-icon">
                        <use xlink:href="#olymp-happy-face-icon"></use>
                    </svg>
                </span>
            </a>
        </span>
    </li>

    <li class="inline-items">
        <div class="author-thumb">
            <img loading="lazy" src="./../../../../assets/img/img/sdk_logo.png" alt="author" width="36"
                height="36">
        </div>
        <div class="notification-event">
            <a class="h6 notification-friend">SDK Games Africa</a>
            <!-- <span class="chat-message-item">6 Friends in Common</span> -->
        </div>
        <span class="notification-icon">
            <a class="accept-request" style="background-color: #4e814c;">
                <span class="icon-add without-text">
                    <svg class="olymp-happy-face-icon">
                        <use xlink:href="#olymp-happy-face-icon"></use>
                    </svg>
                </span>
            </a>
        </span>
    </li>

    <li class="inline-items">
        <div class="author-thumb">
            <img loading="lazy" src="./../../../../assets/img/img/fab_logo.jpeg" alt="author" width="36"
                height="36">
        </div>
        <div class="notification-event">
            <a class="h6 notification-friend">FAB</a>
            <!-- <span class="chat-message-item">6 Friends in Common</span> -->
        </div>
        <span class="notification-icon">
            <a class="accept-request" style="background-color: #4e814c;">
                <span class="icon-add without-text">
                    <svg class="olymp-happy-face-icon">
                        <use xlink:href="#olymp-happy-face-icon"></use>
                    </svg>
                </span>
            </a>
        </span>
    </li>

    <li class="inline-items">
        <div class="author-thumb">
            <img loading="lazy" src="./../../../../assets/img/img/oshf_logo.jpeg" alt="author" width="36"
                height="36">
        </div>
        <div class="notification-event">
            <a class="h6 notification-friend">OSH Food</a>
            <!-- <span class="chat-message-item">6 Friends in Common</span> -->
        </div>
        <span class="notification-icon">
            <a class="accept-request" style="background-color: #4e814c;">
                <span class="icon-add without-text">
                    <svg class="olymp-happy-face-icon">
                        <use xlink:href="#olymp-happy-face-icon"></use>
                    </svg>
                </span>
            </a>
        </span>
    </li>

    <li class="inline-items">
        <div class="author-thumb">
            <img loading="lazy" src="./../../../../assets/img/img/wrayon.png" alt="author" width="36"
                height="36">
        </div>
        <div class="notification-event">
            <a class="h6 notification-friend">WRayon</a>
            <!-- <span class="chat-message-item">6 Friends in Common</span> -->
        </div>
        <span class="notification-icon">
            <a class="accept-request" style="background-color: #4e814c;">
                <span class="icon-add without-text">
                    <svg class="olymp-happy-face-icon">
                        <use xlink:href="#olymp-happy-face-icon"></use>
                    </svg>
                </span>
            </a>
        </span>
    </li>

    <li class="inline-items">
        <div class="author-thumb">
            <img loading="lazy" src="./../../../../assets/img/img/aec_logo.jpeg" alt="author" width="36"
                height="36">
        </div>
        <div class="notification-event">
            <a class="h6 notification-friend">Auto-ecole La colombe</a>
            <!-- <span class="chat-message-item">6 Friends in Common</span> -->
        </div>
        <span class="notification-icon">
            <a class="accept-request" style="background-color: #4e814c;">
                <span class="icon-add without-text">
                    <svg class="olymp-happy-face-icon">
                        <use xlink:href="#olymp-happy-face-icon"></use>
                    </svg>
                </span>
            </a>
        </span>
    </li>

    <!-- <li class="inline-items">
        <div class="author-thumb">
            <img loading="lazy" src="./../../../../assets/img/img/cm_logo.jpeg" alt="author" width="36"
                height="36">
        </div>
        <div class="notification-event">
            <a class="h6 notification-friend">CabMed</a>
        </div>
        <span class="notification-icon">
            <a class="accept-request" style="background-color: #4e814c;">
                <span class="icon-add without-text">
                    <svg class="olymp-happy-face-icon">
                        <use xlink:href="#olymp-happy-face-icon"></use>
                    </svg>
                </span>
            </a>
        </span>
    </li> -->

    <li class="inline-items">
        <div class="notification-event">
            <a class="h6 notification-friend">Voir plus</a>
            <!-- <span class="chat-message-item">6 Friends in Common</span> -->
        </div>
        <span class="notification-icon">
            <a class="accept-request" style="background-color: #4e814c;">
                    <div class="globalRoundProfile circle">
                        <i class="fas fa-angle-down"></i>
                    </div>
            </a>
        </span>
    </li>

</ul>

<!-- ... end W-Action -->