<div class="container">

    <a *ngIf="event.eventOwner.toString()==currentUser.id.toString()" title="Ajouter une catégorie" class="btn btn-control bg-blue" style="background-color: #4e814c;" data-bs-toggle="modal"
        data-bs-target="#add-cathegorie">
        <svg class="olymp-plus-icon">
            <use xlink:href="#olymp-plus-icon"></use>
        </svg>
    </a>
    <hr>
</div>
<div class="container" *ngFor="let categorie of event.categories">
    <h1> {{categorie.nom}}</h1>
    <div class="row">
        <div class="col col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12" *ngIf="event.eventOwner.toString()==currentUser.id.toString()">

            <!-- Friend Item -->

            <div class="friend-item friend-groups create-group h-75 mb-3">

                <a class="full-block" data-bs-toggle="modal" data-bs-target="#add-candidat">
                    <div class="content">

                        <a class="btn btn-control bg-blue" data-bs-toggle="modal" style="background-color: #4e814c;"
                            data-bs-target="#add-candidat">
                            <svg class="olymp-plus-icon">
                                <use xlink:href="#olymp-plus-icon"></use>
                            </svg>
                        </a>

                        <div class="author-content">
                            <a class="h5 author-name">Ajouter une candidate</a>
                            <div class="country" style="color: #4e814c;">{{categorie.nom}}</div>
                        </div>

                    </div>
                </a>

            </div>

            <!-- ... end Friend Item -->
        </div> 

        <div  *ngFor="let candidat of event.candidates" class="col col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12 mb-3">
            <div class="ui-block h-100 mb-0">

                <!-- Friend Item -->

                <div class="friend-item friend-groups">

                    <div class="friend-item-content">

                        <div class="more" >
                            <svg class="olymp-three-dots-icon">
                                <use xlink:href="#olymp-three-dots-icon"></use>
                            </svg>
                            <ul class="more-dropdown">
                                <li>
                                    <a data-bs-toggle="modal" data-bs-target="#edit-candidat">Modifier</a>
                                </li>
                                <li>
                                    <a>Supprimer</a>
                                </li>
                            </ul>
                        </div>
                        <div class="friend-avatar">
                            <div class="author-thumb">
                                <img loading="lazy" [src]="candidat.images.length>0?candidat.images[0]:''" alt="Olympus" width="34"
                                    height="34">
                            </div>
                            <div class="author-content">
                                <a class="h5 author-name">{{candidat.fullName}}</a>
                            </div>
                        </div>

                        <div *ngIf="voteStatus">
                            <div class="country" *ngIf="isOwner">{{getAllVoteByCandidate(candidat.id)}} Votes</div>
                        </div>
                        <div class="country" *ngIf="!voteStatus">{{getAllVoteByCandidate(candidat.id)}} Votes</div>

                        <ul class="friends-harmonic">
                            <li>
                                <a>
                                    <img loading="lazy" src="./../../../../assets/img/img/user.jpeg" alt="friend"
                                        width="28" height="28">
                                </a>
                            </li>
                            <li>
                                <a>
                                    <img loading="lazy" src="./../../../../assets/img/img/user.jpeg" alt="friend"
                                        width="28" height="28">
                                </a>
                            </li>
                            <li>
                                <a>
                                    <img loading="lazy" src="./../../../../assets/img/img/user.jpeg" alt="friend"
                                        width="28" height="28">
                                </a>
                            </li>
                        </ul>


                        <div class="control-block-button">
                            <a class="btn btn-control bg-blue" data-bs-toggle="modal" style="background-color: #4e814c;"
                                data-bs-target="#create-friend-group-add-friends">
                                <svg class="olymp-happy-faces-icon">
                                    <use xlink:href="#olymp-happy-faces-icon"></use>
                                </svg>
                            </a>
                            <!-- 				
                            <a class="btn btn-control btn-grey-lighter">
                                <svg class="olymp-settings-icon"><use xlink:href="#olymp-settings-icon"></use></svg>
                            </a> -->

                        </div>
                    </div>
                </div>

                <!-- ... end Friend Item -->
            </div>
        </div>


    </div>
    <hr style="color: #4e814c;">
</div>


<!-- ... end Main Content Groups -->

<!-- Add candidat -->
<div class="modal fade" id="add-candidat" tabindex="-1" role="dialog" aria-labelledby="create-friend-group-1"
    aria-hidden="true">
    <div class="modal-dialog window-popup create-friend-group create-friend-group-1" role="document">
        <div class="modal-content">
            <a class="close icon-close" data-bs-dismiss="modal" aria-label="Close">
                <svg class="olymp-close-icon">
                    <use xlink:href="#olymp-close-icon"></use>
                </svg>
            </a>
            <div class="modal-header">
                <h6 class="title">Ajouter un candidat</h6>
            </div>

            <div class="modal-body">
                
				<!-- News Feed Form  -->
				
				<div class="news-feed-form">
					<!-- Nav tabs -->
					<ul class="nav nav-tabs" role="tablist">
						<li class="nav-item">
							<a class="nav-link active inline-items" data-bs-toggle="tab" href="#infos" role="tab" aria-expanded="true">
				
								<svg class="olymp-status-icon"><use xlink:href="#olymp-status-icon"></use></svg>
				
								<span>Infos général</span>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link inline-items" data-bs-toggle="tab" href="#photos" role="tab" aria-expanded="false">
				
								<svg class="olymp-multimedia-icon"><use xlink:href="#olymp-multimedia-icon"></use></svg>
				
								<span>Photos</span>
							</a>
						</li>
				
						
					</ul>
				
					<!-- Tab panes -->
					<div class="tab-content">
						<div class="tab-pane  active show" id="infos" role="tabpanel" aria-expanded="true">
                            <p>Informations du candidat</p>
							<form>
                                <div class="form-group label-floating mt-3 mb-3">
                                    <label class="control-label">Nom complet du candidat</label>
                                    <input class="form-control" placeholder="" value="" type="text">
                                </div>
                
                                <div class="form-group label-floating mb-3 mt-3">
                                    <label class="control-label">Numéro du candidat</label>
                                    <input class="form-control" placeholder="" value="" type="number">
                                </div>                
                                
                
                                <div class="form-group  label-floating mb-3 mt-3">               
                                    <label for="area">Description du candidate</label> <br>
                                    <textarea name="area" style="border: 1px solid #e6ecf5" class="form-control"></textarea>
                                </div>
							</form>
                <a class="btn btn-blue btn-lg full-width" style="background-color: #4e814c;">Ajouter</a>

						</div>
				
						<div class="tab-pane fade" id="photos" role="tabpanel" aria-expanded="true">
							<div class="row justify-content-center">
                                <div class="col-6">
                                    <span class="mb-4 mt-4 ml-2">Ajouter des photos</span>
                                </div>
                            </div>
                           <div class="row justify-content-center">
                               <div class="col-3">
                                <a class="options-message" data-bs-toggle="tooltip" data-bs-placement="top"   data-bs-original-title="ADD PHOTOS">
                                    <svg class="olymp-camera-icon" data-bs-toggle="modal" data-bs-target="#update-header-photo"><use xlink:href="#olymp-camera-icon"></use></svg>
                                </a>
                               </div>
                           </div>
                           <hr>
                           <div class="row">
                               <div class="col-12">
						        <app-galery-image ></app-galery-image>

                               </div>
                           </div>
						</div>
				
					</div>
				</div>
				
				<!-- ... end News Feed Form  -->

               

            </div>
        </div>
    </div>
</div>


<!-- Add categorie -->
<div class="modal fade" id="add-cathegorie" tabindex="-1" role="dialog" aria-labelledby="create-friend-group-1"
    aria-hidden="true">
    <div class="modal-dialog window-popup create-friend-group create-friend-group-1" role="document">
        <div class="modal-content">
            <a class="close icon-close" id="categorieModalCloseButton" data-bs-dismiss="modal" aria-label="Close">
                <svg class="olymp-close-icon">
                    <use xlink:href="#olymp-close-icon"></use>
                </svg>
            </a>
            <div class="modal-header">
                <h6 class="title">Ajouter une Cathégorie</h6>
            </div>

            <div class="modal-body">
               <form [formGroup]="formCategorie" (ngSubmit)="addNewCategorie()">
                <div class="form-group label-floating">
                    <label class="control-label">Nom de la cathégorie</label>
                    <input class="form-control" formControlName="nomCategorie" placeholder="" value="" type="text">
                </div>

                <div class="form-group is-select">
                    <label for="area">Description de la cathégorie</label><br>
                    <textarea name="area" id="area" formControlName="description" class="form-control"></textarea>
                </div>

                <button type="submit" class="btn btn-blue btn-lg full-width" style="background-color: #4e814c;">
                    <app-progress-indeterminate *ngIf="waitResponse==true"></app-progress-indeterminate>
                    Ajouter
                </button>
               </form>
            </div>
        </div>
    </div>
</div>

<!-- Edit candidat -->
<div class="modal fade" id="edit-candidat" tabindex="-1" role="dialog" aria-labelledby="create-friend-group-1"
    aria-hidden="true">
    <div class="modal-dialog window-popup create-friend-group create-friend-group-1" role="document">
        <div class="modal-content">
            <a class="close icon-close" data-bs-dismiss="modal" aria-label="Close">
                <svg class="olymp-close-icon">
                    <use xlink:href="#olymp-close-icon"></use>
                </svg>
            </a>
            <div class="modal-header">
                <h6 class="title">Éditer ce candidat</h6>
            </div>

            <div class="modal-body">
                <form class="form-group label-floating">
                    <label class="control-label">Nom complet</label>
                    <input class="form-control" placeholder="{{selectedCandidate.fullName}}" value="" type="text">
                </form>

                <form class="form-group label-floating">
                    <label class="control-label">Numéro</label>
                    <input class="form-control" placeholder="{{selectedCandidate.num}}" value="" type="text">
                </form>


                <form class="form-group is-select">
                    <svg class="olymp-happy-face-icon">
                        <use xlink:href="#olymp-happy-face-icon"></use>
                    </svg>

                    <label> Cathégorie</label>
                    <select class="form-select" disabled>
                        <option title="Miss selected">Miss</option>

                        <option title="Mister">Mister</option>

                    </select>

                    <label for="area">Description</label>
                    <textarea name="area" id="area" placeholder="{{selectedCandidate.description}}"></textarea>
                </form>

                <a class="btn btn-blue btn-lg full-width" style="background-color: #4e814c;">Ajouter</a>
            </div>
        </div>
    </div>
</div>



<!-- Show candidate -->
<div class="modal fade" id="create-friend-group-add-friends" tabindex="-1" role="dialog"
    aria-labelledby="create-friend-group-add-friends" aria-hidden="true">
    <div class="modal-dialog window-popup create-friend-group create-friend-group-add-friends" role="document">
        <div class="modal-content">
            <a class="close icon-close" data-bs-dismiss="modal" aria-label="Close">
                <svg class="olymp-close-icon">
                    <use xlink:href="#olymp-close-icon"></use>
                </svg>
            </a>

            <div class="modal-body">
                <article class="hentry post has-post-thumbnail thumb-full-width private-event">

                    <div class="private-event-head inline-items">

                        <div class="author-date">
                            <a class="h3 event-title">Candidat N<sup>o</sup> 0{{selectedCandidate.num}}</a>
                            <div class="event__date">
                                <time class="published" datetime="2017-03-24T18:18">
                                </time>
                            </div>
                        </div>
                    </div>

                    <div class="post-thumb">
                        <img loading="lazy" src="./../../../assets/img/img/candidat1.jpeg" alt="photo" width="769"
                            height="380">
                    </div>

                    <div class="row">
                        <div class="col col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="post__author author vcard inline-items">
                                <div class="author-date">
                                    <a class="h6 post__author-name fn">{{selectedCandidate.fullName}}</a>
                                    <div class="post__date">
                                        <time class="published" datetime="2017-03-24T18:18">
                                            {{selectedCandidate.metier}}
                                        </time>
                                    </div>
                                </div>

                            </div>

                            <p>{{selectedCandidate.description}}
                            </p>

                            <div class="event-description">
                                <h6 class="event-description-title">Est-ce votre favori?</h6>
                                <br>
                                <br>
                                <div *ngIf="isAuth">
                                    <a *ngIf="!voteStatus" class="btn btn-blue btn-sm full-width"
                                        style="background-color: #595959;">Terminé</a>
                                    <label *ngIf="!voteStatus">Les élection ont été cloturées.</label>

                                    <a *ngIf="voteStatus" class="btn btn-breez btn-sm full-width">Voter ce candidat</a>
                                </div>
                                <div *ngIf="!isAuth">
                                    <a *ngIf="voteStatus" class="btn btn-breez btn-sm full-width" routerLink="/login">Me
                                        connecter pour voter</a>
                                </div>

                            </div>
                        </div>
                    </div>


                    <div class="post-additional-info inline-items">

                        <a class="post-add-icon inline-items">
                            <svg class="olymp-heart-icon">
                                <use xlink:href="#olymp-heart-icon"></use>
                            </svg>
                            <span>17</span>
                        </a>

                        <div class="names-people-likes">
                            <a>UdM </a>, <a>Mutuelle UdM</a> et
                            <br>15 autre personnes ont aimées.
                        </div>


                        <div class="comments-shared">
                            <a class="post-add-icon inline-items">
                                <svg class="olymp-speech-balloon-icon">
                                    <use xlink:href="#olymp-speech-balloon-icon"></use>
                                </svg>
                                <span>34 Commentaires</span>
                            </a>
                        </div>


                    </div>

                    <div class="control-block-button post-control-button">

                        <a class="btn btn-control">
                            <svg class="olymp-like-post-icon">
                                <use xlink:href="#olymp-like-post-icon"></use>
                            </svg>
                        </a>

                        <a class="btn btn-control">
                            <svg class="olymp-comments-post-icon">
                                <use xlink:href="#olymp-comments-post-icon"></use>
                            </svg>
                        </a>

                        <a class="btn btn-control">
                            <svg class="olymp-share-icon">
                                <use xlink:href="#olymp-share-icon"></use>
                            </svg>
                        </a>

                    </div>

                </article>


            </div>
        </div>
    </div>
</div>
<app-uploader-choise-image-file (fileEventUploaded)="uploadCandidateImage($event)" idComponent="update-header-photo"></app-uploader-choise-image-file>

