
<!-- ... end Responsive Header-BP -->
<div class="header-spacer header-spacer-small"></div>


<!-- Main Header Music -->

<div class="main-header">
	<div class="content-bg-wrap bg-music"></div>
	<div class="container">
		<div class="row">
			<div class="col col-lg-8 m-auto col-md-8 col-sm-12 col-12">
				<div class="main-header-content">
					<h1>Jeux sponsorisés</h1>
					<p>Bienvenue dans l'espace de jeux sponsorisés. 
                        Ici, vous avez lz possibilité de gagner de nombreux lots à travers des jeux sponsorisés par des groupes, des entreprises ou des particuliers.
                        N'attendez plus et lancez-vous pour être le meilleur.</p>
				</div>
			</div>
		</div>
	</div>

	<img loading="lazy" class="img-bottom" src="../../../assets/img/template/group-bottom.webp" alt="friends" width="1169" height="169">
</div>

<!-- ... end Main Header Music -->

<div class="container">
	<div class="row">
		<div class="col col-xl-3 order-xl-1 col-lg-6 order-lg-1 col-md-12 order-md-2 col-sm-12 col-12">
			<div class="ui-block">
				<div class="ui-block-title">
					<h6 class="title">Y-Snake-Chalenge</h6>
				</div>

				<!-- W-Playlist -->
				
				<p class="post-thumb post" style="text-align: justify;">
                    Choisisez l'un des modes de jeux et devenez le meilleur dans votre cathégorie.
                    Toutes les semaines, les joueurs ayant les meilleurs scores dans chaque cathégories remporterons des prix à la hauteur de: 
                    <br><br><b style="color: #4e814c;">1<sup>er</sup></b> : 2 000 FCFA
                    <br><b style="color: #4e814c;">2<sup>ième</sup></b> : 1 000 FCFA
                    <br><b style="color: #4e814c;">3<sup>ième</sup></b> : 500 FCFA
				</p>
            
                <b class="post-thumb post" style="color: #4e814c;"> Sponsorisé par: </b> <b>Yaba-In</b>
				<br>

                <div class="col col-lg-12 col-md-6 col-sm-12 col-12">
                    <button routerLink="/page/snake" class="btn btn-secondary btn-lg full-width" style="background-color: #4e814c;">Participer</button>
                </div>
				<!-- .. end W-Playlist -->
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
			<div class="ui-block responsive-flex">
				<div class="ui-block-title">
					<div class="h6 title">Statistiques de la semaine</div>
<!-- 
					<div class="align-right">
						<a class="js-open-popup btn btn-md-2 btn-border-think custom-color c-grey" data-popup-target=".playlist-popup">Open the Music Player</a>
					</div> -->
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
			<div class="ui-block">
				<div class="ui-block-title">
					<h6 class="title">Y-Snake-Chalenge</h6>
					<h6 class="composition-author">classic</h6>
				</div>

				<!-- W-Playlist -->
				
				<ol class="widget w-playlist">
					<li class="js-open-popup" data-popup-target=".playlist-popup">
						<div class="playlist-thumb">
							<img loading="lazy" src="../../../assets/img/img/user.jpeg" alt="thumb-composition" width="34" height="34">
							<div class="overlay"></div>
						</div>
				
						<div class="composition">
							<a class="composition-name">Kamga Arnold <b> (64)</b></a>
							<a class="composition-author">2 000 FCFA</a>
						</div>
				
					</li>
				
					<li class="js-open-popup" data-popup-target=".playlist-popup">
						<div class="playlist-thumb">
							<img loading="lazy" src="../../../assets/img/img/user.jpeg" alt="thumb-composition" width="34" height="34">
							<div class="overlay"></div>
							<a class="play-icon">
								<svg class="olymp-music-play-icon-big">
									<use xlink:href="#olymp-music-play-icon-big"></use>
								</svg>
							</a>
						</div>
				
						<div class="composition">
							<a class="composition-name">Dilane Takoubo <b> (51)</b></a>
							<a class="composition-author">1 000 FCFA</a>
						</div>
				
				
					</li>
					<li class="js-open-popup" data-popup-target=".playlist-popup">
						<div class="playlist-thumb">
							<img loading="lazy" src="../../../assets/img/img/user.jpeg" alt="thumb-composition" width="34" height="34">
							<div class="overlay"></div>
							<a class="play-icon">
								<svg class="olymp-music-play-icon-big">
									<use xlink:href="#olymp-music-play-icon-big"></use>
								</svg>
							</a>
						</div>
				
						<div class="composition">
							<a class="composition-name">Roméo Azombo <b> (50)</b></a>
							<a class="composition-author">500 FCFA</a>
						</div>
					</li>
				</ol>
				
				<!-- .. end W-Playlist -->
			</div>
		</div>
		<div class="col col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
			<div class="ui-block">
				<div class="ui-block-title">
					<h6 class="title">Y-Snake-Chalenge</h6>
					<h6 class="composition-author">No walls</h6>
				</div>
				
				<!-- ... end W-Playlist-Without-Cover -->
				
				<ol class="widget w-playlist">
					<li class="js-open-popup" data-popup-target=".playlist-popup">
						<div class="playlist-thumb">
							<img loading="lazy" src="../../../assets/img/img/user.jpeg" alt="thumb-composition" width="34" height="34">
							<div class="overlay"></div>
						</div>
				
						<div class="composition">
							<a class="composition-name">Lisa Atangana <b> (80)</b></a>
							<a class="composition-author">2 000 FCFA</a>
						</div>
				
					</li>
				
					<li class="js-open-popup" data-popup-target=".playlist-popup">
						<div class="playlist-thumb">
							<img loading="lazy" src="../../../assets/img/img/user.jpeg" alt="thumb-composition" width="34" height="34">
							<div class="overlay"></div>
							<a class="play-icon">
								<svg class="olymp-music-play-icon-big">
									<use xlink:href="#olymp-music-play-icon-big"></use>
								</svg>
							</a>
						</div>
				
						<div class="composition">
							<a class="composition-name">Akim Kamdem <b> (72)</b></a>
							<a class="composition-author">1 000 FCFA</a>
						</div>
				
				
					</li>
					<li class="js-open-popup" data-popup-target=".playlist-popup">
						<div class="playlist-thumb">
							<img loading="lazy" src="../../../assets/img/img/user.jpeg" alt="thumb-composition" width="34" height="34">
							<div class="overlay"></div>
							<a class="play-icon">
								<svg class="olymp-music-play-icon-big">
									<use xlink:href="#olymp-music-play-icon-big"></use>
								</svg>
							</a>
						</div>
				
						<div class="composition">
							<a class="composition-name">Lucien Meza <b> (67)</b></a>
							<a class="composition-author">500 FCFA</a>
						</div>
					</li>
				</ol>
				<!-- W-Playlist-Without-Cover -->
			</div>
		</div>
		<div class="col col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
			<div class="ui-block">
				<div class="ui-block-title">
					<h6 class="title">Y-Snake-Chalenge</h6>
					<h6 class="composition-author">Obstacles</h6>
				</div>
				
				<!-- W-Playlist -->
				
				<ol class="widget w-playlist">
					<li class="js-open-popup" data-popup-target=".playlist-popup">
						<div class="playlist-thumb">
							<img loading="lazy" src="../../../assets/img/img/user.jpeg" alt="thumb-composition" width="34" height="34">
							<div class="overlay"></div>
						</div>
				
						<div class="composition">
							<a class="composition-name">Mara Donsi <b> (38)</b></a>
							<a class="composition-author">2 000 FCFA</a>
						</div>
				
					</li>
				
					<li class="js-open-popup" data-popup-target=".playlist-popup">
						<div class="playlist-thumb">
							<img loading="lazy" src="../../../assets/img/img/user.jpeg" alt="thumb-composition" width="34" height="34">
							<div class="overlay"></div>
							<a class="play-icon">
								<svg class="olymp-music-play-icon-big">
									<use xlink:href="#olymp-music-play-icon-big"></use>
								</svg>
							</a>
						</div>
				
						<div class="composition">
							<a class="composition-name">Lea Tido <b> (30)</b></a>
							<a class="composition-author">1 000 FCFA</a>
						</div>
				
				
					</li>
					<li class="js-open-popup" data-popup-target=".playlist-popup">
						<div class="playlist-thumb">
							<img loading="lazy" src="../../../assets/img/img/user.jpeg" alt="thumb-composition" width="34" height="34">
							<div class="overlay"></div>
							<a class="play-icon">
								<svg class="olymp-music-play-icon-big">
									<use xlink:href="#olymp-music-play-icon-big"></use>
								</svg>
							</a>
						</div>
				
						<div class="composition">
							<a class="composition-name">Alain Mekanda <b> (27)</b></a>
							<a class="composition-author">500 FCFA</a>
						</div>
					</li>
				</ol>
				
				<!-- ... end W-Playlist -->
				
			</div>
		</div>
	</div>
</div>


